In [1]:
#import packages needed:

import pandas as pd
import regex as re
import numpy as np
import psycopg2
from sqlalchemy import create_engine

In [2]:
#import data files to compare and explore:

ct_covid = pd.read_csv('../data/all_covid_studies_ctgov.csv') #-covid only trials from clinicaltrials.gov downloaded 12/10/20

#Read in main clinicaltrials.gov dataset from SQL database, additional tables will be pulled in later:

# establish a database connection to SQL for complete clinicaltrials.gov dataset
engine = create_engine("postgres+psycopg2://postgres:postgres@localhost:5432/AACT")

# use the connection to run a query using pandas:
ct_all = pd.read_sql("SELECT * FROM studies;", con=engine)

ct_all.head()

,nct_id,nlm_download_date_description,study_first_submitted_date,results_first_submitted_date,disposition_first_submitted_date,last_update_submitted_date,study_first_submitted_qc_date,study_first_posted_date,study_first_posted_date_type,results_first_submitted_qc_date,...,is_us_export,biospec_retention,biospec_description,ipd_time_frame,ipd_access_criteria,ipd_url,plan_to_share_ipd,plan_to_share_ipd_description,created_at,updated_at
0,NCT04331431,ClinicalTrials.gov processed this data on Nove...,2020-03-28,None,None,2020-03-31,2020-03-31,2020-04-02,Actual,None,...,None,None,,None,None,None,None,None,2020-12-01 07:41:58.458186,2020-12-01 07:41:58.458186
1,NCT04645472,ClinicalTrials.gov processed this data on Nove...,2020-11-25,None,None,2020-11-25,2020-11-25,2020-11-27,Actual,None,...,None,None,,None,None,None,No,None,2020-12-01 06:44:46.185147,2020-12-01 06:44:46.185147
2,NCT04646369,ClinicalTrials.gov processed this data on Nove...,2020-11-20,None,None,2020-11-20,2020-11-20,2020-11-27,Actual,None,...,None,None,,These data will be released to the NDCT soon a...,"In addition to public access to the NDCT, data...",None,Yes,All requests for study data will follow NIMH's...,2020-12-01 06:44:35.512935,2020-12-01 06:44:35.512935
3,NCT04646356,ClinicalTrials.gov processed this data on Nove...,2020-10-20,None,None,2020-11-20,2020-11-20,2020-11-27,Actual,None,...,False,None,,None,None,None,No,None,2020-12-01 06:44:36.897833,2020-12-01 06:44:36.897833
4,NCT04646330,ClinicalTrials.gov processed this data on Nove...,2020-11-23,None,None,2020-11-23,2020-11-23,2020-11-27,Actual,None,...,None,None,,None,None,None,None,None,2020-12-01 06:44:37.204421,2020-12-01 06:44:37.204421

In [3]:
#check columns for full ct data to see which to keep for analysis:

ct_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 360145 entries, 0 to 360144
Data columns (total 64 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   nct_id                               360145 non-null  object
 1   nlm_download_date_description        360145 non-null  object
 2   study_first_submitted_date           360145 non-null  object
 3   results_first_submitted_date         46342 non-null   object
 4   disposition_first_submitted_date     7523 non-null    object
 5   last_update_submitted_date           360145 non-null  object
 6   study_first_submitted_qc_date        360145 non-null  object
 7   study_first_posted_date              360145 non-null  object
 8   study_first_posted_date_type         360145 non-null  object
 9   results_first_submitted_qc_date      46342 non-null   object
 10  results_first_posted_date            46342 non-null   object
 11  results_first_posted_date_type       46342 non-null   object
 12  disposition_first_submitted_qc_date  7522 non-null    object
 13  disposition_first_posted_date        7522 non-null    object
 14  disposition_first_posted_date_type   7522 non-null    object
 15  last_update_submitted_qc_date        360145 non-null  object
 16  last_update_posted_date              360145 non-null  object
 17  last_update_posted_date_type         360145 non-null  object
 18  start_month_year                     355250 non-null  object
 19  start_date_type                      166306 non-null  object
 20  start_date                           355250 non-null  object
 21  verification_month_year              359295 non-null  object
 22  verification_date                    359295 non-null  object
 23  completion_month_year                342540 non-null  object
 24  completion_date_type                 335700 non-null  object
 25  completion_date                      342540 non-null  object
 26  primary_completion_month_year        338181 non-null  object
 27  primary_completion_date_type         338117 non-null  object
 28  primary_completion_date              338181 non-null  object
 29  target_duration                      6935 non-null    object
 30  study_type                           360145 non-null  object
 31  acronym                              96037 non-null   object
 32  baseline_population                  360145 non-null  object
 33  brief_title                          360145 non-null  object
 34  official_title                       350033 non-null  object
 35  overall_status                       360145 non-null  object
 36  last_known_status                    39161 non-null   object
 37  phase                                281526 non-null  object
 38  enrollment                           353418 non-null  float64
 39  enrollment_type                      343278 non-null  object
 40  source                               360145 non-null  object
 41  limitations_and_caveats              360145 non-null  object
 42  number_of_arms                       257616 non-null  float64
 43  number_of_groups                     49065 non-null   float64
 44  why_stopped                          26109 non-null   object
 45  has_expanded_access                  354013 non-null  object
 46  expanded_access_type_individual      153 non-null     object
 47  expanded_access_type_intermediate    94 non-null      object
 48  expanded_access_type_treatment       110 non-null     object
 49  has_dmc                              295084 non-null  object
 50  is_fda_regulated_drug                136566 non-null  object
 51  is_fda_regulated_device              136558 non-null  object
 52  is_unapproved_device                 1828 non-null    object
 53  is_ppsd                              9 non-null       object
 54  is_us_export                         21579 non-null   object
 55  biospec_retention                    17247 non-null   object
 56  biospec_description                  360145 non-null  object
 57  ipd_time_frame                       8776 non-null    object
 58  ipd_access_criteria                  8031 non-null    object
 59  ipd_url                              4993 non-null    object
 60  plan_to_share_ipd                    130712 non-null  object
 61  plan_to_share_ipd_description        29741 non-null   object
 62  created_at                           360145 non-null  datetime64[ns]
 63  updated_at                           360145 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(3), object(59)
memory usage: 175.9+ MB

In [4]:
#check for duplicates:

ctduplicates = ct_all.nct_id.duplicated()
ctduplicates.value_counts()

False    360145
Name: nct_id, dtype: int64

In [5]:
#select columns to focus on for ct_all dataset, will pull in more info from other tables in SQL once this is done:

ct_all_sub = ct_all[[
 'nct_id',
 'study_first_submitted_date',      
 'results_first_submitted_date',              
 'last_update_submitted_date',   
 'start_date_type',      
 'start_date',       
 'completion_date_type',        
 'completion_date',
 'results_first_posted_date',
 'target_duration',       
 'study_type',
 'brief_title',                          
 'official_title',                    
 'overall_status',
 'phase',                                        
 'enrollment',                                  
 'enrollment_type',
 'source',
 'limitations_and_caveats',
 'why_stopped',                                
 'has_expanded_access',
 'is_fda_regulated_drug',                       
 'is_fda_regulated_device'
]] 
    
    
ct_all_sub.head(2)

,nct_id,study_first_submitted_date,results_first_submitted_date,last_update_submitted_date,start_date_type,start_date,completion_date_type,completion_date,results_first_posted_date,target_duration,...,overall_status,phase,enrollment,enrollment_type,source,limitations_and_caveats,why_stopped,has_expanded_access,is_fda_regulated_drug,is_fda_regulated_device
0,NCT04331431,2020-03-28,None,2020-03-31,Actual,2008-04-01,Actual,2015-04-08,None,None,...,Completed,N/A,24.0,Actual,Sohag University,,None,False,False,False
1,NCT04645472,2020-11-25,None,2020-11-25,Actual,2020-04-20,Anticipated,2021-04-30,None,None,...,Recruiting,None,70.0,Anticipated,Sun Yat-Sen Memorial Hospital of Sun Yat-Sen U...,,None,False,False,False

In [6]:
#add year column for start_date, ignoring the warning for now:

ct_all_sub['start_date'] = pd.to_datetime(ct_all_sub['start_date'])
ct_all_sub['start_year'] = ct_all_sub['start_date'].dt.year.astype(str).replace('\.0', '', regex=True)

ct_all_sub.head()

<ipython-input-6-61ab0e5e5a63>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ct_all_sub['start_date'] = pd.to_datetime(ct_all_sub['start_date'])
<ipython-input-6-61ab0e5e5a63>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ct_all_sub['start_year'] = ct_all_sub['start_date'].dt.year.astype(str).replace('\.0', '', regex=True)

,nct_id,study_first_submitted_date,results_first_submitted_date,last_update_submitted_date,start_date_type,start_date,completion_date_type,completion_date,results_first_posted_date,target_duration,...,phase,enrollment,enrollment_type,source,limitations_and_caveats,why_stopped,has_expanded_access,is_fda_regulated_drug,is_fda_regulated_device,start_year
0,NCT04331431,2020-03-28,None,2020-03-31,Actual,2008-04-01,Actual,2015-04-08,None,None,...,N/A,24.0,Actual,Sohag University,,None,False,False,False,2008
1,NCT04645472,2020-11-25,None,2020-11-25,Actual,2020-04-20,Anticipated,2021-04-30,None,None,...,None,70.0,Anticipated,Sun Yat-Sen Memorial Hospital of Sun Yat-Sen U...,,None,False,False,False,2020
2,NCT04646369,2020-11-20,None,2020-11-20,Actual,2020-11-05,Anticipated,2022-04-30,None,None,...,N/A,100.0,Anticipated,University of Pittsburgh,,None,False,False,False,2020
3,NCT04646356,2020-10-20,None,2020-11-20,Actual,2020-10-20,Anticipated,2022-09-30,None,None,...,Phase 2,30.0,Anticipated,"St. Michael's Hospital, Toronto",,None,False,False,False,2020
4,NCT04646330,2020-11-23,None,2020-11-23,Anticipated,2020-11-30,Anticipated,2023-12-31,None,None,...,Phase 1/Phase 2,120.0,Anticipated,Akeso,,None,False,False,False,2020

In [7]:
ct_all_sub.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 360145 entries, 0 to 360144
Data columns (total 24 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   nct_id                        360145 non-null  object
 1   study_first_submitted_date    360145 non-null  object
 2   results_first_submitted_date  46342 non-null   object
 3   last_update_submitted_date    360145 non-null  object
 4   start_date_type               166306 non-null  object
 5   start_date                    355250 non-null  datetime64[ns]
 6   completion_date_type          335700 non-null  object
 7   completion_date               342540 non-null  object
 8   results_first_posted_date     46342 non-null   object
 9   target_duration               6935 non-null    object
 10  study_type                    360145 non-null  object
 11  brief_title                   360145 non-null  object
 12  official_title                350033 non-null  object
 13  overall_status                360145 non-null  object
 14  phase                         281526 non-null  object
 15  enrollment                    353418 non-null  float64
 16  enrollment_type               343278 non-null  object
 17  source                        360145 non-null  object
 18  limitations_and_caveats       360145 non-null  object
 19  why_stopped                   26109 non-null   object
 20  has_expanded_access           354013 non-null  object
 21  is_fda_regulated_drug         136566 non-null  object
 22  is_fda_regulated_device       136558 non-null  object
 23  start_year                    360145 non-null  object
dtypes: datetime64[ns](1), float64(1), object(22)
memory usage: 65.9+ MB

In [8]:
#pull in interventions, conditions, sponsors, countries, and calculated_values tables from SQL and check how many records in each:

interventions =  pd.read_sql("SELECT * FROM interventions;", con=engine)
conditions =  pd.read_sql("SELECT * FROM conditions;", con=engine)
sponsors =  pd.read_sql("SELECT * FROM sponsors;", con=engine)
countries =  pd.read_sql("SELECT * FROM countries;", con=engine)
calculated_values =  pd.read_sql("SELECT * FROM calculated_values;", con=engine)

print(interventions.shape)
print(conditions.shape)
print(sponsors.shape)
print(countries.shape)
print(calculated_values.shape)

(618521, 5)
(607333, 4)
(574931, 5)
(510391, 4)
(360145, 19)

In [9]:
#checking the interventions table, there are multiple entries per study so it will be difficult to join with main data:

iduplicates = interventions.nct_id.duplicated()
print(iduplicates.value_counts())
interventions = interventions[['nct_id', 'intervention_type', 'name']]
interventions = interventions.rename(columns = {'name': 'intervention'}) 
interventions.head()

False    322164
True     296357
Name: nct_id, dtype: int64

        nct_id intervention_type                 intervention
0  NCT04423627              Drug                      Placebo
1  NCT04645888         Procedure       Impacted tooth surgery
2  NCT04646369        Behavioral         "screening as usual"
3  NCT04646369        Behavioral         Screening Wizard 2.0
4  NCT04646369        Behavioral  Screening Wizard 2.0 + SOVA

In [10]:
#checking the conditions table, there are multiple entries per study so it will be difficult to join with main data:

cduplicates = conditions.nct_id.duplicated()
print(cduplicates.value_counts())
conditions = conditions[['nct_id','downcase_name']]
conditions = conditions.rename(columns = {'downcase_name': 'condition'})
conditions.head()

False    359277
True     248056
Name: nct_id, dtype: int64

        nct_id    condition
0  NCT02892617      modic 1
1  NCT02889016         pans
2  NCT02887209          hiv
3  NCT02882607          hiv
4  NCT02882256  head injury

In [11]:
#checking the countries table, there are multiple entries per study so it will be difficult to join with main data:

cnduplicates = countries.nct_id.duplicated()
print(cnduplicates.value_counts())
countries = countries[['nct_id', 'name', 'removed']]
countries = countries.rename(columns = {'name' : 'country','removed': 'country_removed'})
countries.head()

False    323475
True     186916
Name: nct_id, dtype: int64

        nct_id             country country_removed
0  NCT04646369       United States            None
1  NCT04646356              Canada            None
2  NCT04646330               China            None
3  NCT04646317            Pakistan            None
4  NCT04646278  Korea, Republic of            None

In [12]:
#not sure what "removed" means in the countries table - will look into

countries.country_removed.value_counts()

True    29944
Name: country_removed, dtype: int64

In [13]:
#checking the sponsors table, there are multiple entries per study so it will be difficult to join with main data:

sduplicates = sponsors.nct_id.duplicated()
print(sduplicates.value_counts())
sponsors = sponsors[['nct_id','agency_class', 'lead_or_collaborator', 'name']]
sponsors = sponsors.rename(columns = {'agency_class' : 'sponsor_type','name': 'sponsor'})
sponsors.head()

False    360145
True     214786
Name: nct_id, dtype: int64

,nct_id,sponsor_type,lead_or_collaborator,sponsor
0,NCT04646369,Other,lead,University of Pittsburgh
1,NCT04646369,Other,collaborator,Kaiser Foundation Research Institute
2,NCT04646369,NIH,collaborator,National Institute of Mental Health (NIMH)
3,NCT04646356,Other,lead,"St. Michael's Hospital, Toronto"
4,NCT04646356,U.S. Fed,collaborator,United States Department of Defense

In [14]:
#But, could separate out for lead only and it should match with the main study data set:

sponsors.lead_or_collaborator.value_counts()

lead            360145
collaborator    214786
Name: lead_or_collaborator, dtype: int64

In [15]:
#separate out lead sponsors so I can join it with the main dataset:

lead_sponsors = sponsors[sponsors.lead_or_collaborator == 'lead']
lead_sponsors

,nct_id,sponsor_type,lead_or_collaborator,sponsor
0,NCT04646369,Other,lead,University of Pittsburgh
3,NCT04646356,Other,lead,"St. Michael's Hospital, Toronto"
5,NCT04646330,Industry,lead,Akeso
6,NCT04646317,Other,lead,"Dr. Ruth K.M. Pfau Civil Hospital, Karachi"
7,NCT04646304,Other,lead,Ottawa Hospital Research Institute
...,...,...,...,...
574926,NCT00001645,NIH,lead,National Institute of Allergy and Infectious D...
574927,NCT00001582,NIH,lead,National Cancer Institute (NCI)
574928,NCT00001521,NIH,lead,Eunice Kennedy Shriver National Institute of C...
574929,NCT00001456,NIH,lead,National Human Genome Research Institute (NHGRI)
574930,NCT00001351,NIH,lead,National Institute of Allergy and Infectious D...

In [16]:
#checking the calculated values table, it looks like there are no duplicates so it will be easy to join with main data:

cvduplicates = calculated_values.nct_id.duplicated()
print(cvduplicates.value_counts())
calculated_values = calculated_values[['nct_id', 'number_of_facilities', 'registered_in_calendar_year', 'actual_duration', 'were_results_reported', 'months_to_report_results']]
calculated_values.head()

False    360145
Name: nct_id, dtype: int64

,nct_id,number_of_facilities,registered_in_calendar_year,actual_duration,were_results_reported,months_to_report_results
0,NCT00506311,1.0,2007,58.0,False,NaN
1,NCT00652496,1.0,2008,4.0,False,NaN
2,NCT00581698,1.0,2007,227.0,False,NaN
3,NCT00643214,1.0,2008,1.0,False,NaN
4,NCT00632684,1.0,2008,31.0,False,NaN

In [17]:
#combine ct all with calculated values and lead sponsors datasets:

ct_all_sub_cv = pd.merge(ct_all_sub, calculated_values, on='nct_id')
ct_whole = pd.merge(ct_all_sub_cv, lead_sponsors, on='nct_id')
print(ct_whole.shape)
ct_whole.head(3)

(360145, 32)

,nct_id,study_first_submitted_date,results_first_submitted_date,last_update_submitted_date,start_date_type,start_date,completion_date_type,completion_date,results_first_posted_date,target_duration,...,is_fda_regulated_device,start_year,number_of_facilities,registered_in_calendar_year,actual_duration,were_results_reported,months_to_report_results,sponsor_type,lead_or_collaborator,sponsor
0,NCT04331431,2020-03-28,None,2020-03-31,Actual,2008-04-01,Actual,2015-04-08,None,None,...,False,2008,NaN,2020,85.0,False,NaN,Other,lead,Sohag University
1,NCT04645472,2020-11-25,None,2020-11-25,Actual,2020-04-20,Anticipated,2021-04-30,None,None,...,False,2020,1.0,2020,NaN,False,NaN,Other,lead,Zhenyu Wu
2,NCT04646369,2020-11-20,None,2020-11-20,Actual,2020-11-05,Anticipated,2022-04-30,None,None,...,False,2020,4.0,2020,NaN,False,NaN,Other,lead,University of Pittsburgh

In [18]:
#looks like there are some odd dates in the start_year column, also checking to see the difference with registered year below:

ct_whole.start_year.value_counts()

2020    29521
2019    28265
2018    27852
2017    26493
2016    25615
        ...
1958        1
1900        1
1967        1
1931        1
1948        1
Name: start_year, Length: 70, dtype: int64

In [19]:
ct_whole.registered_in_calendar_year.value_counts()

2020    32436
2019    32168
2018    30589
2017    29465
2016    27982
2015    24374
2014    23585
2013    20535
2012    19671
2011    18252
2010    17743
2009    17141
2008    16998
2007    13380
2005    12893
2006    10926
1999     3645
2000     1980
2004     1787
2003     1662
2002     1587
2001     1346
Name: registered_in_calendar_year, dtype: int64

**Attemped to join the interventions data to the main data. Would like to have each intervention populate a new column.
Unfortunately, it looks like there are even more than I expected per study, so will keep it separate for now.**


*Did a couple different types of joins - here:*
all_interventions = ct_whole.append(interventions)
print(all_interventions.shape)
print(all_interventions.nct_id.nunique())
all_interventions

*and here:*
ct_interventions = ct_whole.merge(interventions, how='inner', on='nct_id')
print(ct_interventions.shape)
print(ct_interventions.nct_id.nunique())
ct_interventions

**Tried this to separate out into different columns**

#see https://stackoverflow.com/questions/22798934/pandas-long-to-wide-reshape-by-two-variables

interventions['idx'] = interventions.groupby('nct_id').cumcount()

tmp = []
for var in ['name']:
    interventions['tmp_idx'] = var + '_' + interventions.idx.astype(str)
    tmp.append(interventions.pivot(index='nct_id',columns='tmp_idx',values=var))

reshape = pd.concat(tmp,axis=1)

reshape.head()

In [20]:
#seeing what sorts of things are in the conditions table for the main data set vs just the covid one below:

conditions.condition.value_counts()

healthy                                                      7946
breast cancer                                                5876
obesity                                                      5305
hiv infections                                               3413
hypertension                                                 3318
                                                             ...
non-resectable metastatic cancer of the stomach                 1
immunol feature in circulation and thromb in ami patients       1
post operative nausea and vomiting (ponv)                       1
experimental photoinduction                                     1
sellar and suprasellar masses                                   1
Name: condition, Length: 87326, dtype: int64

In [21]:
ct_covid.Conditions.value_counts()

COVID-19                                                                                                                                       628
Covid19                                                                                                                                        370
COVID                                                                                                                                           98
Covid-19                                                                                                                                        74
Coronavirus Infection                                                                                                                           46
                                                                                                                                              ...
Lung Diseases|Cardiac Disease|Inflammatory Reaction                                                                                              1
Maternal Death|Maternal Infections Affecting Fetus or Newborn|Neonatal SEPSIS|Maternal Sepsis During Labor|Neonatal Death|Postpartum Sepsis      1
COVID19|COVID-19|Coronavirus                                                                                                                     1
Covid-19|Periodontal Diseases                                                                                                                    1
Cancer Metastatic|Cancer|Survivorship                                                                                                            1
Name: Conditions, Length: 2159, dtype: int64

In [22]:
#checking out the separate covid data set:

ct_covid.head()

,Rank,NCT Number,Title,Acronym,Status,Study Results,Conditions,Interventions,Outcome Measures,Sponsor/Collaborators,...,Other IDs,Start Date,Primary Completion Date,Completion Date,First Posted,Results First Posted,Last Update Posted,Locations,Study Documents,URL
0,1,NCT04372602,Duvelisib to Combat COVID-19,NaN,Recruiting,No Results Available,COVID-19,Drug: Duvelisib|Procedure: Peripheral blood dr...,Overall survival|Length of hospital stay|Lengt...,Washington University School of Medicine|Veras...,...,202007009,"October 12, 2020","November 30, 2021","April 30, 2022","May 4, 2020",NaN,"November 9, 2020","Washington University School of Medicine, Sain...",NaN,https://ClinicalTrials.gov/show/NCT04372602
1,2,NCT04364698,Observational Cohort of COVID-19 Patients at R...,COVID-RPC,Recruiting,No Results Available,COVID-19,NaN,"clinical, biological and radiological characte...",Assistance Publique - HÃ´pitaux de Paris,...,20SBS-COVID-RPC,"May 7, 2020",June 2020,June 2020,"April 28, 2020",NaN,"May 14, 2020","Department of Infectiology, Raymond PoincarÃ© H...",NaN,https://ClinicalTrials.gov/show/NCT04364698
2,3,NCT04482621,Decitabine for Coronavirus (COVID-19) Pneumoni...,DART,Recruiting,No Results Available,COVID-19,Drug: Decitabine|Other: Placebo Saline,Change in clinical state as assessed by a 6-po...,Johns Hopkins University,...,IRB00247544,"September 14, 2020",May 2021,July 2021,"July 22, 2020",NaN,"September 25, 2020","Johns Hopkins University, Baltimore, Maryland,...",NaN,https://ClinicalTrials.gov/show/NCT04482621
3,4,NCT04459637,COVID-19 Surveillance Based on Smart Wearable ...,COVID-19SWD,Not yet recruiting,No Results Available,COVID-19,NaN,Deterioration of the condition|Mortality|The i...,Peking University First Hospital,...,2020055-0615,"July 1, 2020","March 10, 2021","March 10, 2021","July 7, 2020",NaN,"July 7, 2020","Peking University First Hospital, Beijing, Bei...",NaN,https://ClinicalTrials.gov/show/NCT04459637
4,5,NCT04425538,A Phase 2 Trial of Infliximab in Coronavirus D...,NaN,Recruiting,No Results Available,COVID-19,Drug: Infliximab,Time to improvement in oxygenation|28-day mort...,Tufts Medical Center|National Institutes of He...,...,STUDY00000564,"June 1, 2020",September 2020,December 2020,"June 11, 2020",NaN,"June 11, 2020","Tufts Medical Center, Boston, Massachusetts, U...",NaN,https://ClinicalTrials.gov/show/NCT04425538

In [23]:
#the columns in this set look good, not going to remove any for now:

ct_covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4156 entries, 0 to 4155
Data columns (total 27 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Rank                     4156 non-null   int64
 1   NCT Number               4156 non-null   object
 2   Title                    4156 non-null   object
 3   Acronym                  1835 non-null   object
 4   Status                   4156 non-null   object
 5   Study Results            4156 non-null   object
 6   Conditions               4156 non-null   object
 7   Interventions            3524 non-null   object
 8   Outcome Measures         4124 non-null   object
 9   Sponsor/Collaborators    4156 non-null   object
 10  Gender                   4148 non-null   object
 11  Age                      4156 non-null   object
 12  Phases                   2368 non-null   object
 13  Enrollment               4125 non-null   float64
 14  Funded Bys               4156 non-null   object
 15  Study Type               4156 non-null   object
 16  Study Designs            4124 non-null   object
 17  Other IDs                4155 non-null   object
 18  Start Date               4125 non-null   object
 19  Primary Completion Date  4124 non-null   object
 20  Completion Date          4124 non-null   object
 21  First Posted             4156 non-null   object
 22  Results First Posted     17 non-null     object
 23  Last Update Posted       4156 non-null   object
 24  Locations                3655 non-null   object
 25  Study Documents          104 non-null    object
 26  URL                      4156 non-null   object
dtypes: float64(1), int64(1), object(25)
memory usage: 876.8+ KB

In [24]:
#checking for any duplicates:

ctcovidduplicates = ct_covid['NCT Number'].duplicated()
ctcovidduplicates.value_counts()

False    4156
Name: NCT Number, dtype: int64

In [41]:
#lowercasing all of the fields in the covid database to help with aggregation later:

ct_covid = ct_covid.applymap(lambda s:s.lower() if type(s) == str else s)

In [45]:
#converting start date and completion date to datetime and creating a study duration column:

ct_covid[['Start Date','Completion Date']] = ct_covid[['Start Date','Completion Date']].apply(pd.to_datetime) #if conversion required
ct_covid['Study_Duration'] = (ct_covid['Completion Date'] - ct_covid['Start Date']).dt.days

In [46]:
ct_covid.head()

,Rank,NCT Number,Title,Acronym,Status,Study Results,Conditions,Interventions,Outcome Measures,Sponsor/Collaborators,...,Start Date,Primary Completion Date,Completion Date,First Posted,Results First Posted,Last Update Posted,Locations,Study Documents,URL,Study_Duration
0,1,nct04372602,duvelisib to combat covid-19,NaN,recruiting,no results available,covid-19,drug: duvelisib|procedure: peripheral blood dr...,overall survival|length of hospital stay|lengt...,washington university school of medicine|veras...,...,2020-10-12,"november 30, 2021",2022-04-30,"may 4, 2020",NaN,"november 9, 2020","washington university school of medicine, sain...",NaN,https://clinicaltrials.gov/show/nct04372602,565.0
1,2,nct04364698,observational cohort of covid-19 patients at r...,covid-rpc,recruiting,no results available,covid-19,NaN,"clinical, biological and radiological characte...",assistance publique - hÃ´pitaux de paris,...,2020-05-07,june 2020,2020-06-01,"april 28, 2020",NaN,"may 14, 2020","department of infectiology, raymond poincarÃ© h...",NaN,https://clinicaltrials.gov/show/nct04364698,25.0
2,3,nct04482621,decitabine for coronavirus (covid-19) pneumoni...,dart,recruiting,no results available,covid-19,drug: decitabine|other: placebo saline,change in clinical state as assessed by a 6-po...,johns hopkins university,...,2020-09-14,may 2021,2021-07-01,"july 22, 2020",NaN,"september 25, 2020","johns hopkins university, baltimore, maryland,...",NaN,https://clinicaltrials.gov/show/nct04482621,290.0
3,4,nct04459637,covid-19 surveillance based on smart wearable ...,covid-19swd,not yet recruiting,no results available,covid-19,NaN,deterioration of the condition|mortality|the i...,peking university first hospital,...,2020-07-01,"march 10, 2021",2021-03-10,"july 7, 2020",NaN,"july 7, 2020","peking university first hospital, beijing, bei...",NaN,https://clinicaltrials.gov/show/nct04459637,252.0
4,5,nct04425538,a phase 2 trial of infliximab in coronavirus d...,NaN,recruiting,no results available,covid-19,drug: infliximab,time to improvement in oxygenation|28-day mort...,tufts medical center|national institutes of he...,...,2020-06-01,september 2020,2020-12-01,"june 11, 2020",NaN,"june 11, 2020","tufts medical center, boston, massachusetts, u...",NaN,https://clinicaltrials.gov/show/nct04425538,183.0

In [42]:
ct_covid.shape

(4156, 27)

In [47]:
# export covid dataframe to csv for use elsewhere:

ct_covid.to_csv(r'C:\Users\kkosf\Documents\nss\projects\capstone\data\CT_from_python\CT_covid_from_python.csv', index=False)

In [43]:
ct_whole.shape

(360145, 34)

In [27]:
#Identifying the studies from the CT covid dataset that are in the full CT dataset and adding a column to indicate if covid study:

ct_whole = ct_whole.assign(CovidStudy=ct_whole.nct_id.isin(ct_covid['NCT Number']))

ct_whole.head()

,nct_id,study_first_submitted_date,results_first_submitted_date,last_update_submitted_date,start_date_type,start_date,completion_date_type,completion_date,results_first_posted_date,target_duration,...,start_year,number_of_facilities,registered_in_calendar_year,actual_duration,were_results_reported,months_to_report_results,sponsor_type,lead_or_collaborator,sponsor,CovidStudy
0,NCT04331431,2020-03-28,None,2020-03-31,Actual,2008-04-01,Actual,2015-04-08,None,None,...,2008,NaN,2020,85.0,False,NaN,Other,lead,Sohag University,False
1,NCT04645472,2020-11-25,None,2020-11-25,Actual,2020-04-20,Anticipated,2021-04-30,None,None,...,2020,1.0,2020,NaN,False,NaN,Other,lead,Zhenyu Wu,False
2,NCT04646369,2020-11-20,None,2020-11-20,Actual,2020-11-05,Anticipated,2022-04-30,None,None,...,2020,4.0,2020,NaN,False,NaN,Other,lead,University of Pittsburgh,False
3,NCT04646356,2020-10-20,None,2020-11-20,Actual,2020-10-20,Anticipated,2022-09-30,None,None,...,2020,1.0,2020,NaN,False,NaN,Other,lead,"St. Michael's Hospital, Toronto",False
4,NCT04646330,2020-11-23,None,2020-11-23,Anticipated,2020-11-30,Anticipated,2023-12-31,None,None,...,2020,1.0,2020,NaN,False,NaN,Industry,lead,Akeso,False

In [28]:
print(ct_whole.CovidStudy.value_counts())
356008 + 4137

False    356008
True       4137
Name: CovidStudy, dtype: int64

360145

In [30]:
ct_whole['why_stopped'].value_counts().head(25)

Slow accrual                                       184
Lack of funding                                    176
See termination reason in detailed description.    132
Lack of enrollment                                 120
low accrual                                        113
slow accrual                                       112
Sponsor decision                                    96
Low accrual                                         94
COVID-19                                            91
Poor accrual                                        81
Low enrollment                                      79
Slow enrollment                                     77
Slow Accrual                                        72
No participants enrolled                            71
Slow recruitment                                    69
lack of funding                                     63
Poor recruitment                                    60
Poor enrollment                                     60
Business decision                                   56
Administratively complete.                          56
PI left institution                                 55
Lack of recruitment                                 54
Lack of efficacy                                    54
Lack of accrual                                     53
No funding                                          53
Name: why_stopped, dtype: int64

In [31]:
#working on aggregating the items in the why_stopped column as it is free text, but many mean the same thing.
#first I will lowercase everything and remove any stray characters and also change nans to NA:

ct_whole['why_stopped'] = ct_whole['why_stopped'].str.lower()
ct_whole['why_stopped'] = ct_whole['why_stopped'].str.replace(r"[\"\',.]", '')
ct_whole['why_stopped'] = ct_whole['why_stopped'].fillna('NA')

ct_whole['why_stopped'].value_counts().head(25)

NA                                                334036
slow accrual                                         416
lack of funding                                      274
low accrual                                          267
lack of enrollment                                   184
sponsor decision                                     161
see termination reason in detailed description       150
low enrollment                                       142
slow enrollment                                      137
poor accrual                                         136
covid-19                                             121
no participants enrolled                             110
slow recruitment                                     105
poor enrollment                                      104
business decision                                    101
lack of recruitment                                   97
poor recruitment                                      96
lack of accrual                                       90
no funding                                            88
lack of efficacy                                      83
insufficient recruitment                              80
low recruitment                                       80
insufficient enrollment                               77
pi left institution                                   65
funding                                               62
Name: why_stopped, dtype: int64

In [32]:
#now I am putting the different responses into categories, it will not catch everything, but helps:

ct_whole['reason_stopped'] = ''
ct_whole.loc[ct_whole['why_stopped'].str.contains('NA'), 'reason_stopped'] = 'NA'
ct_whole.loc[ct_whole['why_stopped'].str.contains('fda'), 'reason_stopped'] = 'fda'
ct_whole.loc[ct_whole['why_stopped'].str.contains('safety'), 'reason_stopped'] = 'safety'
ct_whole.loc[ct_whole['why_stopped'].str.contains('irb|ethic|regulatory'), 'reason_stopped'] = 'no ethics/regulatory committee approval'
ct_whole.loc[ct_whole['why_stopped'].str.contains('start|not initiat|never initiat'), 'reason_stopped'] = 'never started'
ct_whole.loc[ct_whole['why_stopped'].str.contains('left|leav|no longer at'), 'reason_stopped'] = 'investigator left institution'
ct_whole.loc[ct_whole['why_stopped'].str.contains('pi deci|pi choice|investigator deci|investigator choice'), 'reason_stopped'] = 'investigator decision'
ct_whole.loc[ct_whole['why_stopped'].str.contains('futlity'), 'reason_stopped'] = 'futility'
ct_whole.loc[ct_whole['why_stopped'].str.contains('toxicity'), 'reason_stopped'] = 'toxicity'
ct_whole.loc[ct_whole['why_stopped'].str.contains('terminated|cancel'), 'reason_stopped'] = 'terminated/canceled'
ct_whole.loc[ct_whole['why_stopped'].str.contains('sponsor deci|sponsor withdr|sponsor request'), 'reason_stopped'] = 'sponsor decision'
ct_whole.loc[ct_whole['why_stopped'].str.contains('business decision|business reasons|company decision|management decision|administrative reasons|corporate decision'), 'reason_stopped'] = 'business decision'
ct_whole.loc[ct_whole['why_stopped'].str.contains('accru|enrol|recruit|lack of pa|not enough pa|no pa|lack of inclu|low inclu'), 'reason_stopped'] = 'recruitment issues'
ct_whole.loc[ct_whole['why_stopped'].str.contains('fund|financial'), 'reason_stopped'] = 'funding issues'
ct_whole.loc[ct_whole['why_stopped'].str.contains('administratively complete'), 'reason_stopped'] = 'complete'
ct_whole.loc[ct_whole['why_stopped'].str.contains('covid|pandemic|corona'), 'reason_stopped'] = 'COVID-19'
ct_whole.loc[ct_whole['why_stopped'].str.contains('hcq|hydrox'), 'reason_stopped'] = 'hydroxychloroquine trial'
ct_whole.loc[ct_whole['reason_stopped'] == '','reason_stopped'] = 'other'

In [33]:
ct_whole.reason_stopped.value_counts()

NA                                         334036
recruitment issues                           9232
                                             8797
funding issues                               2382
terminated/canceled                          1218
COVID-19                                     1085
investigator left institution                 737
business decision                             667
safety                                        460
sponsor decision                              419
no ethics/regulatory committee approval       346
never started                                 317
fda                                           163
investigator decision                         120
toxicity                                       93
complete                                       60
hydroxychloroquine trial                       13
Name: reason_stopped, dtype: int64

In [40]:
# export to csv for use elsewhere:

ct_whole.to_csv(r'C:\Users\kkosf\Documents\nss\projects\capstone\data\CT_from_python\CT_from_python.csv', index=False)

In [37]:
#creating a data set with all of the covid studies removed in case it is needed:

ct_no_covid = ct_whole[ct_whole['CovidStudy'] == False]
ct_no_covid.head()

,nct_id,study_first_submitted_date,results_first_submitted_date,last_update_submitted_date,start_date_type,start_date,completion_date_type,completion_date,results_first_posted_date,target_duration,...,number_of_facilities,registered_in_calendar_year,actual_duration,were_results_reported,months_to_report_results,sponsor_type,lead_or_collaborator,sponsor,CovidStudy,reason_stopped
0,NCT04331431,2020-03-28,None,2020-03-31,Actual,2008-04-01,Actual,2015-04-08,None,None,...,NaN,2020,85.0,False,NaN,Other,lead,Sohag University,False,NA
1,NCT04645472,2020-11-25,None,2020-11-25,Actual,2020-04-20,Anticipated,2021-04-30,None,None,...,1.0,2020,NaN,False,NaN,Other,lead,Zhenyu Wu,False,NA
2,NCT04646369,2020-11-20,None,2020-11-20,Actual,2020-11-05,Anticipated,2022-04-30,None,None,...,4.0,2020,NaN,False,NaN,Other,lead,University of Pittsburgh,False,NA
3,NCT04646356,2020-10-20,None,2020-11-20,Actual,2020-10-20,Anticipated,2022-09-30,None,None,...,1.0,2020,NaN,False,NaN,Other,lead,"St. Michael's Hospital, Toronto",False,NA
4,NCT04646330,2020-11-23,None,2020-11-23,Anticipated,2020-11-30,Anticipated,2023-12-31,None,None,...,1.0,2020,NaN,False,NaN,Industry,lead,Akeso,False,NA

In [38]:
#checking that no studies marked true for covidstudy remain:

ct_no_covid.CovidStudy.value_counts()

False    356008
Name: CovidStudy, dtype: int64

In [39]:
#saving the dataset with the covid studies removed to csv to use elsewhere:

ct_no_covid.to_csv(r'C:\Users\kkosf\Documents\nss\projects\capstone\data\CT_from_python\ct_no_covid_from_python.csv', index=False)
ct_no_covid.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 356008 entries, 0 to 360144
Data columns (total 34 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   nct_id                        356008 non-null  object
 1   study_first_submitted_date    356008 non-null  object
 2   results_first_submitted_date  46326 non-null   object
 3   last_update_submitted_date    356008 non-null  object
 4   start_date_type               162203 non-null  object
 5   start_date                    351144 non-null  datetime64[ns]
 6   completion_date_type          331595 non-null  object
 7   completion_date               338435 non-null  object
 8   results_first_posted_date     46326 non-null   object
 9   target_duration               6697 non-null    object
 10  study_type                    356008 non-null  object
 11  brief_title                   356008 non-null  object
 12  official_title                345897 non-null  object
 13  overall_status                356008 non-null  object
 14  phase                         279173 non-null  object
 15  enrollment                    349312 non-null  float64
 16  enrollment_type               339172 non-null  object
 17  source                        356008 non-null  object
 18  limitations_and_caveats       356008 non-null  object
 19  why_stopped                   356008 non-null  object
 20  has_expanded_access           349972 non-null  object
 21  is_fda_regulated_drug         132511 non-null  object
 22  is_fda_regulated_device       132508 non-null  object
 23  start_year                    356008 non-null  object
 24  number_of_facilities          314591 non-null  float64
 25  registered_in_calendar_year   356008 non-null  int64
 26  actual_duration               210571 non-null  float64
 27  were_results_reported         356008 non-null  bool
 28  months_to_report_results      46248 non-null   float64
 29  sponsor_type                  355158 non-null  object
 30  lead_or_collaborator          356008 non-null  object
 31  sponsor                       356008 non-null  object
 32  CovidStudy                    356008 non-null  bool
 33  reason_stopped                356008 non-null  object
dtypes: bool(2), datetime64[ns](1), float64(4), int64(1), object(26)
memory usage: 90.3+ MB

In [ ]:
#saving the other datasets to csv to use elsewhere:

#interventions.to_csv(r'C:\Users\kkosf\Documents\nss\projects\capstone\data\CT_from_python\ct_interventions_from_python.csv', index=False)
#conditions.to_csv(r'C:\Users\kkosf\Documents\nss\projects\capstone\data\CT_from_python\ct_conditions_from_python.csv', index=False)
#countries.to_csv(r'C:\Users\kkosf\Documents\nss\projects\capstone\data\CT_from_python\ct_countries_from_python.csv', index=False)
#sponsors.to_csv(r'C:\Users\kkosf\Documents\nss\projects\capstone\data\CT_from_python\ct_sponsors_from_python.csv', index=False)