In [1]:
#import packages needed:

import pandas as pd
import regex as re
import numpy as np
import psycopg2
from sqlalchemy import create_engine

In [2]:
#import data files, this is the covid only data from clinicaltrials.gov:

ct_covid = pd.read_csv('../data/all_covid_studies_ctgov.csv') #-covid only trials from clinicaltrials.gov downloaded 12/28/20

In [3]:
#import data files, this is the full clinicaltrials.gov relational database from CTTI (connection to SQL):

#Read in main clinicaltrials.gov dataset from SQL database, additional tables will be pulled in later:
engine = create_engine("postgres+psycopg2://postgres:postgres@localhost:5432/AACT")
ct_all = pd.read_sql("SELECT * FROM studies;", con=engine)

ct_all.head()

,nct_id,nlm_download_date_description,study_first_submitted_date,results_first_submitted_date,disposition_first_submitted_date,last_update_submitted_date,study_first_submitted_qc_date,study_first_posted_date,study_first_posted_date_type,results_first_submitted_qc_date,...,is_us_export,biospec_retention,biospec_description,ipd_time_frame,ipd_access_criteria,ipd_url,plan_to_share_ipd,plan_to_share_ipd_description,created_at,updated_at
0,NCT04331431,ClinicalTrials.gov processed this data on Nove...,2020-03-28,None,None,2020-03-31,2020-03-31,2020-04-02,Actual,None,...,None,None,,None,None,None,None,None,2020-12-01 07:41:58.458186,2020-12-01 07:41:58.458186
1,NCT04645472,ClinicalTrials.gov processed this data on Nove...,2020-11-25,None,None,2020-11-25,2020-11-25,2020-11-27,Actual,None,...,None,None,,None,None,None,No,None,2020-12-01 06:44:46.185147,2020-12-01 06:44:46.185147
2,NCT04646369,ClinicalTrials.gov processed this data on Nove...,2020-11-20,None,None,2020-11-20,2020-11-20,2020-11-27,Actual,None,...,None,None,,These data will be released to the NDCT soon a...,"In addition to public access to the NDCT, data...",None,Yes,All requests for study data will follow NIMH's...,2020-12-01 06:44:35.512935,2020-12-01 06:44:35.512935
3,NCT04646356,ClinicalTrials.gov processed this data on Nove...,2020-10-20,None,None,2020-11-20,2020-11-20,2020-11-27,Actual,None,...,False,None,,None,None,None,No,None,2020-12-01 06:44:36.897833,2020-12-01 06:44:36.897833
4,NCT04646330,ClinicalTrials.gov processed this data on Nove...,2020-11-23,None,None,2020-11-23,2020-11-23,2020-11-27,Actual,None,...,None,None,,None,None,None,None,None,2020-12-01 06:44:37.204421,2020-12-01 06:44:37.204421

In [4]:
#check columns for full ct data to see which to keep for analysis:

ct_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 360145 entries, 0 to 360144
Data columns (total 64 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   nct_id                               360145 non-null  object
 1   nlm_download_date_description        360145 non-null  object
 2   study_first_submitted_date           360145 non-null  object
 3   results_first_submitted_date         46342 non-null   object
 4   disposition_first_submitted_date     7523 non-null    object
 5   last_update_submitted_date           360145 non-null  object
 6   study_first_submitted_qc_date        360145 non-null  object
 7   study_first_posted_date              360145 non-null  object
 8   study_first_posted_date_type         360145 non-null  object
 9   results_first_submitted_qc_date      46342 non-null   object
 10  results_first_posted_date            46342 non-null   object
 11  results_first_posted_date_type       46342 non-null   object
 12  disposition_first_submitted_qc_date  7522 non-null    object
 13  disposition_first_posted_date        7522 non-null    object
 14  disposition_first_posted_date_type   7522 non-null    object
 15  last_update_submitted_qc_date        360145 non-null  object
 16  last_update_posted_date              360145 non-null  object
 17  last_update_posted_date_type         360145 non-null  object
 18  start_month_year                     355250 non-null  object
 19  start_date_type                      166306 non-null  object
 20  start_date                           355250 non-null  object
 21  verification_month_year              359295 non-null  object
 22  verification_date                    359295 non-null  object
 23  completion_month_year                342540 non-null  object
 24  completion_date_type                 335700 non-null  object
 25  completion_date                      342540 non-null  object
 26  primary_completion_month_year        338181 non-null  object
 27  primary_completion_date_type         338117 non-null  object
 28  primary_completion_date              338181 non-null  object
 29  target_duration                      6935 non-null    object
 30  study_type                           360145 non-null  object
 31  acronym                              96037 non-null   object
 32  baseline_population                  360145 non-null  object
 33  brief_title                          360145 non-null  object
 34  official_title                       350033 non-null  object
 35  overall_status                       360145 non-null  object
 36  last_known_status                    39161 non-null   object
 37  phase                                281526 non-null  object
 38  enrollment                           353418 non-null  float64
 39  enrollment_type                      343278 non-null  object
 40  source                               360145 non-null  object
 41  limitations_and_caveats              360145 non-null  object
 42  number_of_arms                       257616 non-null  float64
 43  number_of_groups                     49065 non-null   float64
 44  why_stopped                          26109 non-null   object
 45  has_expanded_access                  354013 non-null  object
 46  expanded_access_type_individual      153 non-null     object
 47  expanded_access_type_intermediate    94 non-null      object
 48  expanded_access_type_treatment       110 non-null     object
 49  has_dmc                              295084 non-null  object
 50  is_fda_regulated_drug                136566 non-null  object
 51  is_fda_regulated_device              136558 non-null  object
 52  is_unapproved_device                 1828 non-null    object
 53  is_ppsd                              9 non-null       object
 54  is_us_export                         21579 non-null   object
 55  biospec_retention                    17247 non-null   object
 56  biospec_description                  360145 non-null  object
 57  ipd_time_frame                       8776 non-null    object
 58  ipd_access_criteria                  8031 non-null    object
 59  ipd_url                              4993 non-null    object
 60  plan_to_share_ipd                    130712 non-null  object
 61  plan_to_share_ipd_description        29741 non-null   object
 62  created_at                           360145 non-null  datetime64[ns]
 63  updated_at                           360145 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(3), object(59)
memory usage: 175.9+ MB

In [5]:
#check for duplicates:

ctduplicates = ct_all.nct_id.duplicated()
ctduplicates.value_counts()

False    360145
Name: nct_id, dtype: int64

In [6]:
ct_all.overall_status.value_counts()

Completed                    193535
Recruiting                    55432
Unknown status                39161
Terminated                    20433
Active, not recruiting        17863
Not yet recruiting            17587
Withdrawn                      9358
Enrolling by invitation        3387
Suspended                      1832
Withheld                        850
No longer available             295
Available                       240
Approved for marketing          153
Temporarily not available        19
Name: overall_status, dtype: int64

In [7]:
ct_all.completion_date_type.value_counts()

Actual         202499
Anticipated    133201
Name: completion_date_type, dtype: int64

In [8]:
ct_all.source.value_counts().head(10)

National Institutes of Health Clinical Center (CC)    4525
National Cancer Institute (NCI)                       3470
GlaxoSmithKline                                       3418
Pfizer                                                2990
Novartis                                              2876
AstraZeneca                                           2584
Mayo Clinic                                           2242
M.D. Anderson Cancer Center                           2209
Merck Sharp & Dohme Corp.                             2186
Assistance Publique - HÃ´pitaux de Paris               2111
Name: source, dtype: int64

In [9]:
#select columns to focus on for ct_all dataset, will pull in more info from other tables in SQL once this is done:

ct_all_sub = ct_all[[
 'nct_id',
 'study_first_submitted_date',         
 'start_date_type',      
 'start_date',       
 'completion_date_type',        
 'completion_date',
 'target_duration',       
 'study_type',
 'brief_title',                          
 'official_title',                    
 'overall_status',
 'phase',                                        
 'enrollment',                                  
 'enrollment_type',
 'source',
 'why_stopped',                                
 'is_fda_regulated_drug',                       
 'is_fda_regulated_device'
]] 
    
    
ct_all_sub.head(2)

,nct_id,study_first_submitted_date,start_date_type,start_date,completion_date_type,completion_date,target_duration,study_type,brief_title,official_title,overall_status,phase,enrollment,enrollment_type,source,why_stopped,is_fda_regulated_drug,is_fda_regulated_device
0,NCT04331431,2020-03-28,Actual,2008-04-01,Actual,2015-04-08,None,Interventional,Outcomes of the Intradural Extramedullary Tumo...,Professor of Neurosurgery,Completed,N/A,24.0,Actual,Sohag University,None,False,False
1,NCT04645472,2020-11-25,Actual,2020-04-20,Anticipated,2021-04-30,None,Observational,CT-Ultrasound Fusion in Guiding PCNL Puncture,Accurate Positioning of CT-Ultrasound Fusion i...,Recruiting,None,70.0,Anticipated,Sun Yat-Sen Memorial Hospital of Sun Yat-Sen U...,None,False,False

In [10]:
#add year column for start_date, ignoring the warning for now:

ct_all_sub['start_date'] = pd.to_datetime(ct_all_sub['start_date'])
ct_all_sub['start_year'] = ct_all_sub['start_date'].dt.year.astype(str).replace('\.0', '', regex=True)

ct_all_sub.head()

<ipython-input-10-61ab0e5e5a63>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ct_all_sub['start_date'] = pd.to_datetime(ct_all_sub['start_date'])
<ipython-input-10-61ab0e5e5a63>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ct_all_sub['start_year'] = ct_all_sub['start_date'].dt.year.astype(str).replace('\.0', '', regex=True)

,nct_id,study_first_submitted_date,start_date_type,start_date,completion_date_type,completion_date,target_duration,study_type,brief_title,official_title,overall_status,phase,enrollment,enrollment_type,source,why_stopped,is_fda_regulated_drug,is_fda_regulated_device,start_year
0,NCT04331431,2020-03-28,Actual,2008-04-01,Actual,2015-04-08,None,Interventional,Outcomes of the Intradural Extramedullary Tumo...,Professor of Neurosurgery,Completed,N/A,24.0,Actual,Sohag University,None,False,False,2008
1,NCT04645472,2020-11-25,Actual,2020-04-20,Anticipated,2021-04-30,None,Observational,CT-Ultrasound Fusion in Guiding PCNL Puncture,Accurate Positioning of CT-Ultrasound Fusion i...,Recruiting,None,70.0,Anticipated,Sun Yat-Sen Memorial Hospital of Sun Yat-Sen U...,None,False,False,2020
2,NCT04646369,2020-11-20,Actual,2020-11-05,Anticipated,2022-04-30,None,Interventional,Screening Wizard- Phase 2,The Center for Enhancing Treatment & Utilizati...,Recruiting,N/A,100.0,Anticipated,University of Pittsburgh,None,False,False,2020
3,NCT04646356,2020-10-20,Actual,2020-10-20,Anticipated,2022-09-30,None,Interventional,Tacrolimus Crossover Trial for Hereditary Hemo...,Tacrolimus Crossover Trial for Hereditary Hemo...,Recruiting,Phase 2,30.0,Anticipated,"St. Michael's Hospital, Toronto",None,False,False,2020
4,NCT04646330,2020-11-23,Anticipated,2020-11-30,Anticipated,2023-12-31,None,Interventional,A Trial of AK104 Plus Anlotinib in NSCLC,A Phase II Trial of AK104 Plus Anlotinib in Pa...,Not yet recruiting,Phase 1/Phase 2,120.0,Anticipated,Akeso,None,False,False,2020

In [11]:
ct_all_sub.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 360145 entries, 0 to 360144
Data columns (total 19 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   nct_id                      360145 non-null  object
 1   study_first_submitted_date  360145 non-null  object
 2   start_date_type             166306 non-null  object
 3   start_date                  355250 non-null  datetime64[ns]
 4   completion_date_type        335700 non-null  object
 5   completion_date             342540 non-null  object
 6   target_duration             6935 non-null    object
 7   study_type                  360145 non-null  object
 8   brief_title                 360145 non-null  object
 9   official_title              350033 non-null  object
 10  overall_status              360145 non-null  object
 11  phase                       281526 non-null  object
 12  enrollment                  353418 non-null  float64
 13  enrollment_type             343278 non-null  object
 14  source                      360145 non-null  object
 15  why_stopped                 26109 non-null   object
 16  is_fda_regulated_drug       136566 non-null  object
 17  is_fda_regulated_device     136558 non-null  object
 18  start_year                  360145 non-null  object
dtypes: datetime64[ns](1), float64(1), object(17)
memory usage: 52.2+ MB

In [12]:
#pull in interventions, conditions, sponsors, countries, and calculated_values tables from SQL and check how many records in each:

engine = create_engine("postgres+psycopg2://postgres:postgres@localhost:5432/AACT")

interventions =  pd.read_sql("SELECT * FROM interventions;", con=engine)
conditions =  pd.read_sql("SELECT * FROM conditions;", con=engine)
sponsors =  pd.read_sql("SELECT * FROM sponsors;", con=engine)
countries =  pd.read_sql("SELECT * FROM countries;", con=engine)
calculated_values =  pd.read_sql("SELECT * FROM calculated_values;", con=engine)

print(interventions.shape)
print(conditions.shape)
print(sponsors.shape)
print(countries.shape)
print(calculated_values.shape)

(618521, 5)
(607333, 4)
(574931, 5)
(510391, 4)
(360145, 19)

In [13]:
#checking the interventions table, there are multiple entries per study so it will be difficult to join with main data:

iduplicates = interventions.nct_id.duplicated()
print(iduplicates.value_counts())
interventions = interventions[['nct_id', 'intervention_type', 'name']]
interventions = interventions.rename(columns = {'name': 'intervention'}) 
interventions.head()

False    322164
True     296357
Name: nct_id, dtype: int64

        nct_id intervention_type                 intervention
0  NCT04423627              Drug                      Placebo
1  NCT04645888         Procedure       Impacted tooth surgery
2  NCT04646369        Behavioral         "screening as usual"
3  NCT04646369        Behavioral         Screening Wizard 2.0
4  NCT04646369        Behavioral  Screening Wizard 2.0 + SOVA

In [14]:
#lowercasing the intervention field to help with aggregation later:

interventions['intervention'] = interventions['intervention'].str.lower()

interventions.intervention.value_counts().head()

placebo                          29438
laboratory biomarker analysis     3200
cyclophosphamide                  2344
cisplatin                         1854
paclitaxel                        1720
Name: intervention, dtype: int64

In [15]:
#also revising some of the names to help with aggregation:

interventions.intervention = interventions.intervention.str.replace('questionnaire administration', 'questionnaire')
interventions.intervention = interventions.intervention.str.replace('questionnaire administration', 'questionnaire')
interventions.intervention = interventions.intervention.str.replace('questionnaires', 'questionnaire')
interventions.intervention = interventions.intervention.str.replace('quality-of-life assessment', 'questionnaire')
interventions.intervention = interventions.intervention.str.replace('survey', 'questionnaire')
interventions.intervention = interventions.intervention.str.replace('online survey', 'questionnaire')
interventions.intervention = interventions.intervention.str.replace('online questionnaire', 'questionnaire')
interventions.intervention = interventions.intervention.str.replace('observational', 'no intervention')
interventions.intervention = interventions.intervention.str.replace('questionnaire assesment', 'questionnaire')
interventions.intervention = interventions.intervention.str.replace('placebos', 'placebo')
interventions.intervention = interventions.intervention.str.replace('placebo oral tablet', 'placebo')
interventions.intervention = interventions.intervention.str.replace('placebo oral capsule', 'placebo')
interventions.intervention = interventions.intervention.str.replace('placebo comparator', 'placebo')
interventions.intervention = interventions.intervention.str.replace('placebo administration', 'placebo')
interventions.intervention = interventions.intervention.str.replace('matching placebo', 'placebo')
interventions.intervention = interventions.intervention.str.replace('normal saline', 'saline')
interventions.intervention = interventions.intervention.str.replace('usual care', 'standard of care')
interventions.intervention = interventions.intervention.str.replace('standard care', 'standard of care')
interventions.intervention = interventions.intervention.str.replace('standard of care(soc)', 'standard of care')
interventions.intervention = interventions.intervention.str.replace('standard of care (soc)', 'standard of care')
interventions.intervention = interventions.intervention.str.replace('standard treatment', 'standard of care')
interventions.intervention = interventions.intervention.str.replace('standard therapy', 'standard of care')
interventions.intervention = interventions.intervention.str.replace('standard medical treatment', 'standard of care')
interventions.intervention = interventions.intervention.str.replace('treatment as usual', 'standard of care')
interventions.intervention = interventions.intervention.str.replace('best practice', 'standard of care')
interventions.intervention = interventions.intervention.str.replace('control group', 'control')
interventions.intervention = interventions.intervention.str.replace('radiotherapy', 'radiation therapy')
interventions.intervention = interventions.intervention.str.replace('doxorubicin hydrochloride', 'doxorubicin')
interventions.intervention = interventions.intervention.str.replace('gemcitabine hydrochloride', 'gemcitabine')
interventions.intervention = interventions.intervention.str.replace('blood samples', 'blood sample')
interventions.intervention = interventions.intervention.str.replace('blood sampling', 'blood sample')
interventions.intervention = interventions.intervention.str.replace('blood draw', 'blood sample')
interventions.intervention = interventions.intervention.str.replace('blood test', 'blood sample')
interventions.intervention = interventions.intervention.str.replace('covid-19 convalescent plasma', 'convalescent plasma')
interventions.intervention = interventions.intervention.str.replace('hydroxychloroquine sulfate', 'hydroxychloroquine')
interventions.intervention = interventions.intervention.str.replace('hydroxychloroquine(hcq)', 'hydroxychloroquine')
interventions.intervention = interventions.intervention.str.replace('hydroxychloroquine (hcq)', 'hydroxychloroquine')
interventions.intervention = interventions.intervention.str.replace('hcq', 'hydroxychloroquine')
interventions.intervention = interventions.intervention.str.replace('chloroquine or hydroxychloroquine', 'hydroxychloroquine')
interventions.intervention = interventions.intervention.str.replace('vitamin d3', 'vitamin d')
interventions.intervention = interventions.intervention.str.replace('ritonavir/lopinavir', 'lopinavir/ritonavir')
interventions.intervention = interventions.intervention.str.replace('lopinavir / ritonavir', 'lopinavir/ritonavir')
interventions.intervention = interventions.intervention.str.replace('lopinavir/ ritonavir', 'lopinavir/ritonavir')
interventions.intervention = interventions.intervention.str.replace('mri', 'magnetic resonance imaging')
interventions.intervention = interventions.intervention.str.replace('prone positioning', 'prone position')
interventions.intervention = interventions.intervention.str.replace('anti-sars-cov-2 convalescent plasma', 'convalescent plasma')

In [16]:
interventions.intervention.value_counts().head()

placebo                          31552
questionnaire                     3394
laboratory biomarker analysis     3200
standard of care                  2949
cyclophosphamide                  2344
Name: intervention, dtype: int64

In [17]:
#adding a column to distinguish if the study is a covid study in the interventions table:

interventions = interventions.assign(CovidStudy=interventions.nct_id.isin(ct_covid['NCT Number']))

In [18]:
interventions.head()

        nct_id intervention_type                 intervention  CovidStudy
0  NCT04423627              Drug                      placebo       False
1  NCT04645888         Procedure       impacted tooth surgery       False
2  NCT04646369        Behavioral         "screening as usual"       False
3  NCT04646369        Behavioral         screening wizard 2.0       False
4  NCT04646369        Behavioral  screening wizard 2.0 + sova       False

In [19]:
interventions.CovidStudy.value_counts()

False    612707
True       5814
Name: CovidStudy, dtype: int64

In [20]:
#checking the conditions table, Also checking the number of duplicate NCT numbers, selecting and renaming columns, and removing stray characters:

cduplicates = conditions.nct_id.duplicated()
print(cduplicates.value_counts())
conditions = conditions[['nct_id','downcase_name']]
conditions = conditions.rename(columns = {'downcase_name': 'condition'})
conditions.condition = conditions.condition.str.replace(r"[\"\',.]", '')
conditions.head()

False    359277
True     248056
Name: nct_id, dtype: int64

        nct_id    condition
0  NCT02892617      modic 1
1  NCT02889016         pans
2  NCT02887209          hiv
3  NCT02882607          hiv
4  NCT02882256  head injury

In [21]:
conditions.condition.value_counts().head(50)

healthy                                  7946
breast cancer                            5878
obesity                                  5305
hiv infections                           3413
hypertension                             3322
prostate cancer                          3124
pain                                     2976
asthma                                   2972
depression                               2961
stroke                                   2843
diabetes mellitus type 2                 2644
coronary artery disease                  2609
cancer                                   2457
schizophrenia                            2398
diabetes                                 2377
heart failure                            2318
colorectal cancer                        2209
lung cancer                              2161
cardiovascular diseases                  1999
rheumatoid arthritis                     1970
atrial fibrillation                      1856
lymphoma                                 1724
healthy volunteers                       1705
diabetes mellitus                        1705
multiple myeloma                         1655
type 2 diabetes mellitus                 1583
multiple sclerosis                       1550
type 2 diabetes                          1548
leukemia                                 1500
hiv                                      1496
ovarian cancer                           1372
anxiety                                  1365
pancreatic cancer                        1308
covid-19                                 1307
chronic obstructive pulmonary disease    1299
osteoarthritis                           1260
parkinson disease                        1250
non-small cell lung cancer               1243
pregnancy                                1181
major depressive disorder                1176
influenza                                1129
head and neck cancer                     1119
infertility                              1115
quality of life                          1110
hepatocellular carcinoma                 1094
parkinsons disease                       1080
cystic fibrosis                          1078
gastric cancer                           1072
melanoma                                 1044
heart diseases                           1036
Name: condition, dtype: int64

In [22]:
#revising some of the names so they aggregate properly:

conditions.condition = conditions.condition.str.replace('healthy volunteers', 'healthy')
conditions.condition = conditions.condition.str.replace('healthy subjects', 'healthy')
conditions.condition = conditions.condition.str.replace('healthy volunteer', 'healthy')
conditions.condition = conditions.condition.str.replace('hiv infections', 'hiv')
conditions.condition = conditions.condition.str.replace('hiv infection', 'hiv')
conditions.condition = conditions.condition.str.replace('diabetes mellitus type 2', 'type 2 diabetes')
conditions.condition = conditions.condition.str.replace('diabetes mellitus', 'diabetes')
conditions.condition = conditions.condition.str.replace('type 2 diabetes mellitus', 'type 2 diabetes')
conditions.condition = conditions.condition.str.replace('type 1 diabetes mellitus', 'type 1 diabetes')
conditions.condition = conditions.condition.str.replace('diabetes mellitus type 1', 'type 1 diabetes')
conditions.condition = conditions.condition.str.replace('diabetes type 1', 'type 1 diabetes')
conditions.condition = conditions.condition.str.replace('major depressive disorder', 'depression')
conditions.condition = conditions.condition.str.replace('parkinson disease', 'parkinsons disease')
conditions.condition = conditions.condition.str.replace('heart diseases', 'coronary disease')
conditions.condition = conditions.condition.str.replace('cardiovascular diseases', 'cardiovascular disease')
conditions.condition = conditions.condition.str.replace('copd', 'chronic obstructive pulmonary disease')
conditions.condition = conditions.condition.str.replace('pulmonary disease, chronic obstructive', 'chronic obstructive pulmonary disease')
conditions.condition = conditions.condition.str.replace('alzheimer disease', 'alzheimers disease')
conditions.condition = conditions.condition.str.replace('covid', 'covid-19')
conditions.condition = conditions.condition.str.replace('covid19', 'covid-19')
conditions.condition = conditions.condition.str.replace('covid19 infection', 'covid-19')
conditions.condition = conditions.condition.str.replace('covid-19 infection', 'covid-19')
conditions.condition = conditions.condition.str.replace('covid19 pneumonia', 'covid-19')
conditions.condition = conditions.condition.str.replace('covid 19', 'covid-19')
conditions.condition = conditions.condition.str.replace('sars-cov2', 'covid-19')
conditions.condition = conditions.condition.str.replace('sars-cov-2', 'covid-19')
conditions.condition = conditions.condition.str.replace('sars-cov 2', 'covid-19')
conditions.condition = conditions.condition.str.replace('sars-cov infection', 'covid-19')
conditions.condition = conditions.condition.str.replace('sars-cov-2 infection', 'covid-19')
conditions.condition = conditions.condition.str.replace('coronavirus', 'covid-19')
conditions.condition = conditions.condition.str.replace('corona virus infection', 'covid-19')
conditions.condition = conditions.condition.str.replace('coronavirus infection', 'covid-19')
conditions.condition = conditions.condition.str.replace('pain, postoperative', 'postoperative pain')
conditions.condition = conditions.condition.str.replace('acute myeloid leukemia(aml)', 'acute myeloid leukemia')
conditions.condition = conditions.condition.str.replace('aml', 'acute myeloid leukemia')
conditions.condition = conditions.condition.str.replace('anxiety disorders', 'anxiety')
conditions.condition = conditions.condition.str.replace('carcinoma nonsmallcell lung', 'non-small cell lung cancer')
conditions.condition = conditions.condition.str.replace('coronary artery disease', 'coronary disease')
conditions.condition = conditions.condition.str.replace('myleodysplasic syndromes', 'myleodysplasic syndrome')
conditions.condition = conditions.condition.str.replace('solid tumors', 'solid tumor')
conditions.condition = conditions.condition.str.replace('advanced solid tumor', 'solid tumor')
conditions.condition = conditions.condition.str.replace('unspecified adult solid tumor protocol specific', 'solid tumor')
conditions.condition = conditions.condition.str.replace('pain postoperative', 'postoperative pain')
conditions.condition = conditions.condition.str.replace('chronic pain', 'pain')
conditions.condition = conditions.condition.str.replace('ards', 'acute respiratory distress syndrome')
conditions.condition = conditions.condition.str.replace('non small cell lung cancer', 'non-small cell lung cancer')
conditions.condition = conditions.condition.str.replace('overweight and obesity', 'obesity')
conditions.condition = conditions.condition.str.replace('knee osteoarthritis', 'osteoarthritis knee')

In [23]:
conditions.condition.value_counts().head(50)

healthy                                  10689
breast cancer                             5878
type 2 diabetes                           5775
obesity                                   5689
hiv                                       5490
coronary disease                          4304
depression                                4137
diabetes                                  4082
pain                                      3973
hypertension                              3322
prostate cancer                           3124
asthma                                    2972
cardiovascular disease                    2952
stroke                                    2843
cancer                                    2457
solid tumor                               2426
schizophrenia                             2398
parkinsons disease                        2330
heart failure                             2318
chronic obstructive pulmonary disease     2228
colorectal cancer                         2209
type 1 diabetes                           2166
lung cancer                               2161
rheumatoid arthritis                      1970
alzheimers disease                        1868
postoperative pain                        1866
atrial fibrillation                       1856
non-small cell lung cancer                1824
lymphoma                                  1724
anxiety                                   1723
multiple myeloma                          1655
multiple sclerosis                        1550
leukemia                                  1500
osteoarthritis knee                       1426
ovarian cancer                            1372
covid-19-19                               1313
pancreatic cancer                         1308
osteoarthritis                            1260
covid-19                                  1188
pregnancy                                 1181
influenza                                 1129
head and neck cancer                      1119
infertility                               1115
quality of life                           1110
hepatocellular carcinoma                  1094
cystic fibrosis                           1078
gastric cancer                            1072
acute myeloid leukemia                    1052
melanoma                                  1044
myocardial infarction                     1014
Name: condition, dtype: int64

In [25]:
#not sure why it is adding an additional '-19' to some 'covid-19' so removing it:
conditions.condition = conditions.condition.str.replace('covid-19-19', 'covid-19')
conditions.condition = conditions.condition.str.replace('covid-1919', 'covid-19')
conditions.condition = conditions.condition.str.replace('covid-19 19', 'covid-19')

In [27]:
conditions.condition.value_counts().head(50)

healthy                                  10689
breast cancer                             5878
type 2 diabetes                           5775
obesity                                   5689
hiv                                       5490
coronary disease                          4304
depression                                4137
diabetes                                  4082
pain                                      3973
covid-19                                  3469
hypertension                              3322
prostate cancer                           3124
asthma                                    2972
cardiovascular disease                    2952
stroke                                    2843
cancer                                    2457
solid tumor                               2426
schizophrenia                             2398
parkinsons disease                        2330
heart failure                             2318
chronic obstructive pulmonary disease     2228
colorectal cancer                         2209
type 1 diabetes                           2166
lung cancer                               2161
rheumatoid arthritis                      1970
alzheimers disease                        1868
postoperative pain                        1866
atrial fibrillation                       1856
non-small cell lung cancer                1824
lymphoma                                  1724
anxiety                                   1723
multiple myeloma                          1655
multiple sclerosis                        1550
leukemia                                  1500
osteoarthritis knee                       1426
ovarian cancer                            1372
pancreatic cancer                         1308
osteoarthritis                            1260
pregnancy                                 1181
influenza                                 1129
head and neck cancer                      1119
infertility                               1115
quality of life                           1110
hepatocellular carcinoma                  1094
cystic fibrosis                           1078
gastric cancer                            1072
acute myeloid leukemia                    1052
melanoma                                  1044
myocardial infarction                     1014
surgery                                    988
Name: condition, dtype: int64

In [28]:
#adding a column to distinguish if the study is a covid study in the conditions table:

conditions = conditions.assign(CovidStudy=conditions.nct_id.isin(ct_covid['NCT Number']))
conditions.head()

        nct_id    condition  CovidStudy
0  NCT02892617      modic 1       False
1  NCT02889016         pans       False
2  NCT02887209          hiv       False
3  NCT02882607          hiv       False
4  NCT02882256  head injury       False

In [29]:
conditions.CovidStudy.value_counts()

False    599391
True       7942
Name: CovidStudy, dtype: int64

In [30]:
#checking the countries table, also looking at how many duplicate NCT numbers:

cnduplicates = countries.nct_id.duplicated()
print(cnduplicates.value_counts())
countries.head()

False    323475
True     186916
Name: nct_id, dtype: int64

         id       nct_id                name removed
0  10009076  NCT04646369       United States    None
1  10009077  NCT04646356              Canada    None
2  10009079  NCT04646330               China    None
3  10009080  NCT04646317            Pakistan    None
4  10009082  NCT04646278  Korea, Republic of    None

In [31]:
countries.name.value_counts()

United States                     141580
France                             27778
Canada                             24043
Germany                            21891
United Kingdom                     20356
                                   ...
Somalia                                1
Northern Mariana Islands               1
Montserrat                             1
Federated States of Micronesia         1
Greenland                              1
Name: name, Length: 223, dtype: int64

In [32]:
#taking out the ones identified as "removed" as these countries are no longer participating in the associated study:

print(countries.removed.value_counts())
countries = countries[countries.removed != True]
countries.removed.value_counts()

True    29944
Name: removed, dtype: int64

Series([], Name: removed, dtype: int64)

In [33]:
countries.name.value_counts()

United States                             137320
France                                     26764
Canada                                     22736
Germany                                    20587
United Kingdom                             19347
                                           ...
Northern Mariana Islands                       1
Korea, Democratic People's Republic of         1
Montserrat                                     1
United States Minor Outlying Islands           1
Greenland                                      1
Name: name, Length: 219, dtype: int64

In [34]:
#keeping only the needed columns and renaming them:

countries = countries[['nct_id', 'name']]
countries = countries.rename(columns = {'name' : 'country'})

In [35]:
#adding a column to distinguish if the study is a covid study in the countries table:

countries = countries.assign(CovidStudy=countries.nct_id.isin(ct_covid['NCT Number']))
countries.head()

        nct_id             country  CovidStudy
0  NCT04646369       United States       False
1  NCT04646356              Canada       False
2  NCT04646330               China       False
3  NCT04646317            Pakistan       False
4  NCT04646278  Korea, Republic of       False

In [36]:
countries.CovidStudy.value_counts()

False    476137
True       4310
Name: CovidStudy, dtype: int64

In [37]:
#checking the sponsors table, there are multiple entries per study:

sduplicates = sponsors.nct_id.duplicated()
print(sduplicates.value_counts())
sponsors = sponsors[['nct_id','agency_class', 'lead_or_collaborator', 'name']]
sponsors = sponsors.rename(columns = {'agency_class' : 'sponsor_type','name': 'sponsor'})
sponsors.head()

False    360145
True     214786
Name: nct_id, dtype: int64

,nct_id,sponsor_type,lead_or_collaborator,sponsor
0,NCT04646369,Other,lead,University of Pittsburgh
1,NCT04646369,Other,collaborator,Kaiser Foundation Research Institute
2,NCT04646369,NIH,collaborator,National Institute of Mental Health (NIMH)
3,NCT04646356,Other,lead,"St. Michael's Hospital, Toronto"
4,NCT04646356,U.S. Fed,collaborator,United States Department of Defense

In [38]:
#Could separate out for lead only and it should match with the main study data set:

sponsors.lead_or_collaborator.value_counts()

lead            360145
collaborator    214786
Name: lead_or_collaborator, dtype: int64

In [39]:
#separate out lead sponsors so I can join it with the main dataset:

lead_sponsors = sponsors[sponsors.lead_or_collaborator == 'lead']
lead_sponsors

,nct_id,sponsor_type,lead_or_collaborator,sponsor
0,NCT04646369,Other,lead,University of Pittsburgh
3,NCT04646356,Other,lead,"St. Michael's Hospital, Toronto"
5,NCT04646330,Industry,lead,Akeso
6,NCT04646317,Other,lead,"Dr. Ruth K.M. Pfau Civil Hospital, Karachi"
7,NCT04646304,Other,lead,Ottawa Hospital Research Institute
...,...,...,...,...
574926,NCT00001645,NIH,lead,National Institute of Allergy and Infectious D...
574927,NCT00001582,NIH,lead,National Cancer Institute (NCI)
574928,NCT00001521,NIH,lead,Eunice Kennedy Shriver National Institute of C...
574929,NCT00001456,NIH,lead,National Human Genome Research Institute (NHGRI)
574930,NCT00001351,NIH,lead,National Institute of Allergy and Infectious D...

In [40]:
#adding a column to distinguish if the study is a covid study in the sponsors table:

sponsors = sponsors.assign(CovidStudy=sponsors.nct_id.isin(ct_covid['NCT Number']))
sponsors.head()

,nct_id,sponsor_type,lead_or_collaborator,sponsor,CovidStudy
0,NCT04646369,Other,lead,University of Pittsburgh,False
1,NCT04646369,Other,collaborator,Kaiser Foundation Research Institute,False
2,NCT04646369,NIH,collaborator,National Institute of Mental Health (NIMH),False
3,NCT04646356,Other,lead,"St. Michael's Hospital, Toronto",False
4,NCT04646356,U.S. Fed,collaborator,United States Department of Defense,False

In [41]:
sponsors.CovidStudy.value_counts()

False    567191
True       7740
Name: CovidStudy, dtype: int64

In [42]:
#checking the calculated values table, it looks like there are no duplicates so it will be easy to join with main data:

cvduplicates = calculated_values.nct_id.duplicated()
print(cvduplicates.value_counts())
calculated_values = calculated_values[['nct_id', 'number_of_facilities', 'registered_in_calendar_year', 'actual_duration']]
calculated_values.head()

False    360145
Name: nct_id, dtype: int64

,nct_id,number_of_facilities,registered_in_calendar_year,actual_duration
0,NCT00506311,1.0,2007,58.0
1,NCT00652496,1.0,2008,4.0
2,NCT00581698,1.0,2007,227.0
3,NCT00643214,1.0,2008,1.0
4,NCT00632684,1.0,2008,31.0

In [43]:
calculated_values.actual_duration.value_counts()

12.0     7208
2.0      5994
3.0      5867
6.0      5863
1.0      5857
         ...
617.0       1
401.0       1
311.0       1
393.0       1
350.0       1
Name: actual_duration, Length: 345, dtype: int64

In [44]:
#combine ct all with calculated values and lead sponsors datasets:

ct_all_sub_cv = pd.merge(ct_all_sub, calculated_values, on='nct_id')
ct_whole = pd.merge(ct_all_sub_cv, lead_sponsors, on='nct_id')

In [45]:
#converting start date and completion date to datetime and creating a study duration column, the actual duration is in months,
#this will be in days:

ct_whole[['start_date','completion_date']] = ct_whole[['start_date','completion_date']].apply(pd.to_datetime) 
ct_whole['study_duration_days'] = (ct_whole['completion_date'] - ct_whole['start_date']).dt.days

In [46]:
print(ct_whole.shape)
ct_whole.head(3)

(360145, 26)

,nct_id,study_first_submitted_date,start_date_type,start_date,completion_date_type,completion_date,target_duration,study_type,brief_title,official_title,...,is_fda_regulated_drug,is_fda_regulated_device,start_year,number_of_facilities,registered_in_calendar_year,actual_duration,sponsor_type,lead_or_collaborator,sponsor,study_duration_days
0,NCT04331431,2020-03-28,Actual,2008-04-01,Actual,2015-04-08,None,Interventional,Outcomes of the Intradural Extramedullary Tumo...,Professor of Neurosurgery,...,False,False,2008,NaN,2020,85.0,Other,lead,Sohag University,2563.0
1,NCT04645472,2020-11-25,Actual,2020-04-20,Anticipated,2021-04-30,None,Observational,CT-Ultrasound Fusion in Guiding PCNL Puncture,Accurate Positioning of CT-Ultrasound Fusion i...,...,False,False,2020,1.0,2020,NaN,Other,lead,Zhenyu Wu,375.0
2,NCT04646369,2020-11-20,Actual,2020-11-05,Anticipated,2022-04-30,None,Interventional,Screening Wizard- Phase 2,The Center for Enhancing Treatment & Utilizati...,...,False,False,2020,4.0,2020,NaN,Other,lead,University of Pittsburgh,541.0

In [47]:
#looks like there are some odd dates in the start_year column, also checking to see the difference with registered year below:

ct_whole.start_year.value_counts()

2020    29521
2019    28265
2018    27852
2017    26493
2016    25615
        ...
1931        1
1948        1
1968        1
1900        1
1958        1
Name: start_year, Length: 70, dtype: int64

In [48]:
ct_whole.registered_in_calendar_year.value_counts()

2020    32436
2019    32168
2018    30589
2017    29465
2016    27982
2015    24374
2014    23585
2013    20535
2012    19671
2011    18252
2010    17743
2009    17141
2008    16998
2007    13380
2005    12893
2006    10926
1999     3645
2000     1980
2004     1787
2003     1662
2002     1587
2001     1346
Name: registered_in_calendar_year, dtype: int64

In [49]:
#checking out the separate covid data set:

ct_covid.head()

,Rank,NCT Number,Title,Acronym,Status,Study Results,Conditions,Interventions,Outcome Measures,Sponsor/Collaborators,...,Other IDs,Start Date,Primary Completion Date,Completion Date,First Posted,Results First Posted,Last Update Posted,Locations,Study Documents,URL
0,1,NCT04372602,Duvelisib to Combat COVID-19,NaN,Recruiting,No Results Available,COVID-19,Drug: Duvelisib|Procedure: Peripheral blood dr...,Overall survival|Length of hospital stay|Lengt...,Washington University School of Medicine|Veras...,...,202007009,"October 12, 2020","November 30, 2021","April 30, 2022","May 4, 2020",NaN,"November 9, 2020","Washington University School of Medicine, Sain...",NaN,https://ClinicalTrials.gov/show/NCT04372602
1,2,NCT04364698,Observational Cohort of COVID-19 Patients at R...,COVID-RPC,Recruiting,No Results Available,COVID-19,NaN,"clinical, biological and radiological characte...",Assistance Publique - HÃ´pitaux de Paris,...,20SBS-COVID-RPC,"May 7, 2020",June 2020,June 2020,"April 28, 2020",NaN,"May 14, 2020","Department of Infectiology, Raymond PoincarÃ© H...",NaN,https://ClinicalTrials.gov/show/NCT04364698
2,3,NCT04482621,Decitabine for Coronavirus (COVID-19) Pneumoni...,DART,Recruiting,No Results Available,COVID-19,Drug: Decitabine|Other: Placebo Saline,Change in clinical state as assessed by a 6-po...,Johns Hopkins University,...,IRB00247544,"September 14, 2020",May 2021,July 2021,"July 22, 2020",NaN,"September 25, 2020","Johns Hopkins University, Baltimore, Maryland,...",NaN,https://ClinicalTrials.gov/show/NCT04482621
3,4,NCT04459637,COVID-19 Surveillance Based on Smart Wearable ...,COVID-19SWD,Not yet recruiting,No Results Available,COVID-19,NaN,Deterioration of the condition|Mortality|The i...,Peking University First Hospital,...,2020055-0615,"July 1, 2020","March 10, 2021","March 10, 2021","July 7, 2020",NaN,"July 7, 2020","Peking University First Hospital, Beijing, Bei...",NaN,https://ClinicalTrials.gov/show/NCT04459637
4,5,NCT04425538,A Phase 2 Trial of Infliximab in Coronavirus D...,NaN,Recruiting,No Results Available,COVID-19,Drug: Infliximab,Time to improvement in oxygenation|28-day mort...,Tufts Medical Center|National Institutes of He...,...,STUDY00000564,"June 1, 2020",September 2020,December 2020,"June 11, 2020",NaN,"June 11, 2020","Tufts Medical Center, Boston, Massachusetts, U...",NaN,https://ClinicalTrials.gov/show/NCT04425538

In [50]:
#checking the columns and how many nulls:

ct_covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4312 entries, 0 to 4311
Data columns (total 27 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Rank                     4312 non-null   int64
 1   NCT Number               4312 non-null   object
 2   Title                    4312 non-null   object
 3   Acronym                  1897 non-null   object
 4   Status                   4312 non-null   object
 5   Study Results            4312 non-null   object
 6   Conditions               4312 non-null   object
 7   Interventions            3651 non-null   object
 8   Outcome Measures         4280 non-null   object
 9   Sponsor/Collaborators    4312 non-null   object
 10  Gender                   4304 non-null   object
 11  Age                      4312 non-null   object
 12  Phases                   2446 non-null   object
 13  Enrollment               4281 non-null   float64
 14  Funded Bys               4312 non-null   object
 15  Study Type               4312 non-null   object
 16  Study Designs            4280 non-null   object
 17  Other IDs                4311 non-null   object
 18  Start Date               4281 non-null   object
 19  Primary Completion Date  4280 non-null   object
 20  Completion Date          4280 non-null   object
 21  First Posted             4312 non-null   object
 22  Results First Posted     18 non-null     object
 23  Last Update Posted       4312 non-null   object
 24  Locations                3800 non-null   object
 25  Study Documents          108 non-null    object
 26  URL                      4312 non-null   object
dtypes: float64(1), int64(1), object(25)
memory usage: 909.7+ KB

In [51]:
#checking for any duplicates:

ctcovidduplicates = ct_covid['NCT Number'].duplicated()
ctcovidduplicates.value_counts()

False    4312
Name: NCT Number, dtype: int64

In [52]:
#select columns to focus on for ct_all dataset, will pull in more info from other tables in SQL once this is done:

ct_covid = ct_covid[[
 'NCT Number',
 'Title',               
 'Status',   
 'Conditions',        
 'Interventions',
 'Sponsor/Collaborators',       
 'Phases',
 'Enrollment',                          
 'Funded Bys',                    
 'Study Type',
 'Start Date',                                        
 'Completion Date',                                  
 'First Posted',
 'Locations'
]] 
    
    
ct_covid.head(2)

,NCT Number,Title,Status,Conditions,Interventions,Sponsor/Collaborators,Phases,Enrollment,Funded Bys,Study Type,Start Date,Completion Date,First Posted,Locations
0,NCT04372602,Duvelisib to Combat COVID-19,Recruiting,COVID-19,Drug: Duvelisib|Procedure: Peripheral blood dr...,Washington University School of Medicine|Veras...,Phase 2,28.0,Other|Industry,Interventional,"October 12, 2020","April 30, 2022","May 4, 2020","Washington University School of Medicine, Sain..."
1,NCT04364698,Observational Cohort of COVID-19 Patients at R...,Recruiting,COVID-19,NaN,Assistance Publique - HÃ´pitaux de Paris,NaN,500.0,Other,Observational,"May 7, 2020",June 2020,"April 28, 2020","Department of Infectiology, Raymond PoincarÃ© H..."

In [53]:
#seeing which conditions are listed:

ct_covid['Conditions'].value_counts().head(20)

COVID-19                          648
Covid19                           404
COVID                              98
Covid-19                           75
Coronavirus Infection              47
COVID 19                           44
COVID19                            43
Coronavirus                        42
SARS-CoV-2                         37
Sars-CoV2                          33
Corona Virus Infection             31
COVID-19 Pneumonia                 28
SARS-CoV-2 Infection               24
COVID-19 Infection                 24
SARS-CoV 2                         21
Coronavirus Infections             18
SARS-CoV Infection                 18
COVID-19|SARS-CoV-2                17
Covid19|SARS-CoV Infection         15
Coronavirus Disease (COVID-19)     15
Name: Conditions, dtype: int64

In [54]:
#lowercasing all of the fields in the covid database to help with aggregation later (except for the NCT# column for joining):

ct_covid = ct_covid.applymap(lambda s:s.lower() if type(s) == str else s)
ct_covid['NCT Number'] = ct_covid['NCT Number'].str.upper()
ct_covid

,NCT Number,Title,Status,Conditions,Interventions,Sponsor/Collaborators,Phases,Enrollment,Funded Bys,Study Type,Start Date,Completion Date,First Posted,Locations
0,NCT04372602,duvelisib to combat covid-19,recruiting,covid-19,drug: duvelisib|procedure: peripheral blood dr...,washington university school of medicine|veras...,phase 2,28.0,other|industry,interventional,"october 12, 2020","april 30, 2022","may 4, 2020","washington university school of medicine, sain..."
1,NCT04364698,observational cohort of covid-19 patients at r...,recruiting,covid-19,NaN,assistance publique - hÃ´pitaux de paris,NaN,500.0,other,observational,"may 7, 2020",june 2020,"april 28, 2020","department of infectiology, raymond poincarÃ© h..."
2,NCT04482621,decitabine for coronavirus (covid-19) pneumoni...,recruiting,covid-19,drug: decitabine|other: placebo saline,johns hopkins university,phase 2,40.0,other,interventional,"september 14, 2020",july 2021,"july 22, 2020","johns hopkins university, baltimore, maryland,..."
3,NCT04459637,covid-19 surveillance based on smart wearable ...,not yet recruiting,covid-19,NaN,peking university first hospital,NaN,200.0,other,observational,"july 1, 2020","march 10, 2021","july 7, 2020","peking university first hospital, beijing, bei..."
4,NCT04425538,a phase 2 trial of infliximab in coronavirus d...,recruiting,covid-19,drug: infliximab,tufts medical center|national institutes of he...,phase 2,17.0,other|nih,interventional,"june 1, 2020",december 2020,"june 11, 2020","tufts medical center, boston, massachusetts, u..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4307,NCT04621552,virtual simulation for woven endobridge device...,completed,aneurysm|intracranial aneurysm,device: web embolization,"university hospital, montpellier|university ho...",NaN,186.0,other,observational,"january 1, 2015","october 30, 2020","november 9, 2020","uhmontpellier, montpellier, france"
4308,NCT04276987,a pilot clinical study on inhalation of mesenc...,completed,coronavirus,biological: mscs-derived exosomes,ruijin hospital|shanghai public health clinica...,phase 1,24.0,other|industry,interventional,"february 15, 2020","july 31, 2020","february 19, 2020",ruijin hospital shanghai jiao tong university ...
4309,NCT04247620,diabetter together for young adults with type ...,enrolling by invitation,type 1 diabetes,behavioral: diabetter together|behavioral: pee...,baylor college of medicine|national institute ...,not applicable,186.0,other|nih,interventional,"december 15, 2020",june 2024,"january 30, 2020","baylor college of medicine, houston, texas, un..."
4310,NCT04684602,mesenchymal stem cells for the treatment of va...,recruiting,autoimmune diseases|cardiovascular disorders|d...,biological: primeproâ„¢/ primemskâ„¢,thomas advanced medical llc|heartstem institut...,phase 1|phase 2,5000.0,industry|other,interventional,"july 9, 2020","december 9, 2030","december 24, 2020",southern california hospital at culver city / ...
4311,NCT03474965,study of dose confirmation and safety of criza...,recruiting,sickle cell disease (scd),drug: crizanlizumab,novartis pharmaceuticals|novartis,phase 2,100.0,industry,interventional,"october 1, 2018","november 20, 2024","march 23, 2018","university of alabama 1600 7th ave, birmingham..."

In [55]:
#converting start date and completion date to datetime and creating a study duration column for both days and months:

ct_covid[['Start Date','Completion Date']] = ct_covid[['Start Date','Completion Date']].apply(pd.to_datetime)
ct_covid['Study_Duration_days'] = (ct_covid['Completion Date'] - ct_covid['Start Date']).dt.days

ct_covid['Study_Duration_months'] = ct_covid['Completion Date'].dt.to_period('M').astype(int) - ct_covid['Start Date'].dt.to_period('M').astype(int)

In [56]:
ct_covid.head()

,NCT Number,Title,Status,Conditions,Interventions,Sponsor/Collaborators,Phases,Enrollment,Funded Bys,Study Type,Start Date,Completion Date,First Posted,Locations,Study_Duration_days,Study_Duration_months
0,NCT04372602,duvelisib to combat covid-19,recruiting,covid-19,drug: duvelisib|procedure: peripheral blood dr...,washington university school of medicine|veras...,phase 2,28.0,other|industry,interventional,2020-10-12,2022-04-30,"may 4, 2020","washington university school of medicine, sain...",565.0,18
1,NCT04364698,observational cohort of covid-19 patients at r...,recruiting,covid-19,NaN,assistance publique - hÃ´pitaux de paris,NaN,500.0,other,observational,2020-05-07,2020-06-01,"april 28, 2020","department of infectiology, raymond poincarÃ© h...",25.0,1
2,NCT04482621,decitabine for coronavirus (covid-19) pneumoni...,recruiting,covid-19,drug: decitabine|other: placebo saline,johns hopkins university,phase 2,40.0,other,interventional,2020-09-14,2021-07-01,"july 22, 2020","johns hopkins university, baltimore, maryland,...",290.0,10
3,NCT04459637,covid-19 surveillance based on smart wearable ...,not yet recruiting,covid-19,NaN,peking university first hospital,NaN,200.0,other,observational,2020-07-01,2021-03-10,"july 7, 2020","peking university first hospital, beijing, bei...",252.0,8
4,NCT04425538,a phase 2 trial of infliximab in coronavirus d...,recruiting,covid-19,drug: infliximab,tufts medical center|national institutes of he...,phase 2,17.0,other|nih,interventional,2020-06-01,2020-12-01,"june 11, 2020","tufts medical center, boston, massachusetts, u...",183.0,6

In [57]:
ct_covid.shape

(4312, 16)

In [58]:
# export covid dataframe to csv for use elsewhere:

ct_covid.to_csv(r'C:\Users\kkosf\Documents\nss\projects\capstone\data\CT_from_python\CT_covid_from_python.csv', index=False)

In [59]:
ct_whole.shape

(360145, 26)

In [60]:
#Identifying the studies from the CT covid dataset that are in the full CT dataset and adding a column to indicate if covid study:

ct_whole = ct_whole.assign(CovidStudy=ct_whole.nct_id.isin(ct_covid['NCT Number']))

ct_whole.head()

,nct_id,study_first_submitted_date,start_date_type,start_date,completion_date_type,completion_date,target_duration,study_type,brief_title,official_title,...,is_fda_regulated_device,start_year,number_of_facilities,registered_in_calendar_year,actual_duration,sponsor_type,lead_or_collaborator,sponsor,study_duration_days,CovidStudy
0,NCT04331431,2020-03-28,Actual,2008-04-01,Actual,2015-04-08,None,Interventional,Outcomes of the Intradural Extramedullary Tumo...,Professor of Neurosurgery,...,False,2008,NaN,2020,85.0,Other,lead,Sohag University,2563.0,False
1,NCT04645472,2020-11-25,Actual,2020-04-20,Anticipated,2021-04-30,None,Observational,CT-Ultrasound Fusion in Guiding PCNL Puncture,Accurate Positioning of CT-Ultrasound Fusion i...,...,False,2020,1.0,2020,NaN,Other,lead,Zhenyu Wu,375.0,False
2,NCT04646369,2020-11-20,Actual,2020-11-05,Anticipated,2022-04-30,None,Interventional,Screening Wizard- Phase 2,The Center for Enhancing Treatment & Utilizati...,...,False,2020,4.0,2020,NaN,Other,lead,University of Pittsburgh,541.0,False
3,NCT04646356,2020-10-20,Actual,2020-10-20,Anticipated,2022-09-30,None,Interventional,Tacrolimus Crossover Trial for Hereditary Hemo...,Tacrolimus Crossover Trial for Hereditary Hemo...,...,False,2020,1.0,2020,NaN,Other,lead,"St. Michael's Hospital, Toronto",710.0,False
4,NCT04646330,2020-11-23,Anticipated,2020-11-30,Anticipated,2023-12-31,None,Interventional,A Trial of AK104 Plus Anlotinib in NSCLC,A Phase II Trial of AK104 Plus Anlotinib in Pa...,...,False,2020,1.0,2020,NaN,Industry,lead,Akeso,1126.0,False

In [61]:
print(ct_whole.CovidStudy.value_counts())
356006 + 4139

False    356006
True       4139
Name: CovidStudy, dtype: int64

360145

In [62]:
ct_whole['why_stopped'].value_counts().head(25)

Slow accrual                                       184
Lack of funding                                    176
See termination reason in detailed description.    132
Lack of enrollment                                 120
low accrual                                        113
slow accrual                                       112
Sponsor decision                                    96
Low accrual                                         94
COVID-19                                            91
Poor accrual                                        81
Low enrollment                                      79
Slow enrollment                                     77
Slow Accrual                                        72
No participants enrolled                            71
Slow recruitment                                    69
lack of funding                                     63
Poor enrollment                                     60
Poor recruitment                                    60
Business decision                                   56
Administratively complete.                          56
PI left institution                                 55
Lack of recruitment                                 54
Lack of efficacy                                    54
Lack of accrual                                     53
No funding                                          53
Name: why_stopped, dtype: int64

In [63]:
#working on aggregating the items in the why_stopped column as it is free text, but many mean the same thing.
#first I will lowercase everything and remove any stray characters and also change nans to NA:

ct_whole['why_stopped'] = ct_whole['why_stopped'].str.lower()
ct_whole['why_stopped'] = ct_whole['why_stopped'].str.replace(r"[\"\',.]", '')
ct_whole['why_stopped'] = ct_whole['why_stopped'].fillna('NA')

ct_whole['why_stopped'].value_counts().head(25)

NA                                                334036
slow accrual                                         416
lack of funding                                      274
low accrual                                          267
lack of enrollment                                   184
sponsor decision                                     161
see termination reason in detailed description       150
low enrollment                                       142
slow enrollment                                      137
poor accrual                                         136
covid-19                                             121
no participants enrolled                             110
slow recruitment                                     105
poor enrollment                                      104
business decision                                    101
lack of recruitment                                   97
poor recruitment                                      96
lack of accrual                                       90
no funding                                            88
lack of efficacy                                      83
low recruitment                                       80
insufficient recruitment                              80
insufficient enrollment                               77
pi left institution                                   65
funding                                               62
Name: why_stopped, dtype: int64

In [64]:
#now I am putting the different responses into categories, it will not catch everything, but helps:

ct_whole['reason_stopped'] = ''
ct_whole.loc[ct_whole['why_stopped'].str.contains('NA'), 'reason_stopped'] = 'NA'
ct_whole.loc[ct_whole['why_stopped'].str.contains('fda'), 'reason_stopped'] = 'fda'
ct_whole.loc[ct_whole['why_stopped'].str.contains('safety'), 'reason_stopped'] = 'safety'
ct_whole.loc[ct_whole['why_stopped'].str.contains('irb|ethic|regulatory'), 'reason_stopped'] = 'no ethics approval'
ct_whole.loc[ct_whole['why_stopped'].str.contains('start|not initiat|never initiat'), 'reason_stopped'] = 'never started'
ct_whole.loc[ct_whole['why_stopped'].str.contains('left|leav|no longer at'), 'reason_stopped'] = 'PI left institution'
ct_whole.loc[ct_whole['why_stopped'].str.contains('pi deci|pi choice|investigator deci|investigator choice'), 'reason_stopped'] = 'investigator decision'
ct_whole.loc[ct_whole['why_stopped'].str.contains('futlity'), 'reason_stopped'] = 'futility'
ct_whole.loc[ct_whole['why_stopped'].str.contains('toxicity'), 'reason_stopped'] = 'toxicity'
ct_whole.loc[ct_whole['why_stopped'].str.contains('terminated|cancel'), 'reason_stopped'] = 'terminated/canceled'
ct_whole.loc[ct_whole['why_stopped'].str.contains('sponsor deci|sponsor withdr|sponsor request'), 'reason_stopped'] = 'sponsor decision'
ct_whole.loc[ct_whole['why_stopped'].str.contains('business decision|business reasons|company decision|management decision|administrative reasons|corporate decision'), 'reason_stopped'] = 'business decision'
ct_whole.loc[ct_whole['why_stopped'].str.contains('accru|enrol|recruit|lack of pa|not enough pa|no pa|lack of inclu|low inclu'), 'reason_stopped'] = 'recruitment issues'
ct_whole.loc[ct_whole['why_stopped'].str.contains('fund|financial'), 'reason_stopped'] = 'funding issues'
ct_whole.loc[ct_whole['why_stopped'].str.contains('administratively complete'), 'reason_stopped'] = 'complete'
ct_whole.loc[ct_whole['why_stopped'].str.contains('covid|pandemic|corona'), 'reason_stopped'] = 'COVID-19'
ct_whole.loc[ct_whole['why_stopped'].str.contains('hcq|hydrox'), 'reason_stopped'] = 'hydroxychloroquine trial'
ct_whole.loc[ct_whole['reason_stopped'] == '','reason_stopped'] = 'other'

In [65]:
ct_whole.reason_stopped.value_counts()

NA                          334036
recruitment issues            9232
other                         8797
funding issues                2382
terminated/canceled           1218
COVID-19                      1085
PI left institution            737
business decision              667
safety                         460
sponsor decision               419
no ethics approval             346
never started                  317
fda                            163
investigator decision          120
toxicity                        93
complete                        60
hydroxychloroquine trial        13
Name: reason_stopped, dtype: int64

In [66]:
#looking at what is under target duration. Here there are also many different entries that mean the same thing:

ct_whole.target_duration.value_counts().head(10)

1 Year       739
5 Years      687
1 Day        599
2 Years      589
12 Months    500
6 Months     461
3 Years      422
10 Years     389
3 Months     291
1 Month      228
Name: target_duration, dtype: int64

In [67]:
#Renaming some to help with aggregation:

ct_whole.target_duration = ct_whole.target_duration.str.replace('12 Months', '1 Year')
ct_whole.target_duration = ct_whole.target_duration.str.replace('52 Weeks', '1 Year')
ct_whole.target_duration = ct_whole.target_duration.str.replace('365 days', '1 Year')
ct_whole.target_duration = ct_whole.target_duration.str.replace('60 Months', '5 Years')
ct_whole.target_duration = ct_whole.target_duration.str.replace('30 Days', '1 Month')
ct_whole.target_duration = ct_whole.target_duration.str.replace('4 Weeks', '1 Month')
ct_whole.target_duration = ct_whole.target_duration.str.replace('60 Days', '2 Months')
ct_whole.target_duration = ct_whole.target_duration.str.replace('24 Months', '2 Years')
ct_whole.target_duration = ct_whole.target_duration.str.replace('7 Days', '1 Week')
ct_whole.target_duration = ct_whole.target_duration.str.replace('36 Months', '3 Years')
ct_whole.target_duration = ct_whole.target_duration.str.replace('14 Days', '2 Weeks')
ct_whole.target_duration = ct_whole.target_duration.str.replace('8 Weeks', '2 Months')
ct_whole.target_duration = ct_whole.target_duration.str.replace('12 Weeks', '3 Months')
ct_whole.target_duration = ct_whole.target_duration.str.replace('90 Days', '3 Months')
ct_whole.target_duration = ct_whole.target_duration.str.replace('24 Weeks', '6 Months')
ct_whole.target_duration = ct_whole.target_duration.str.replace('16 Weeks', '4 Months')

In [68]:
# export to csv for use elsewhere:

ct_whole.to_csv(r'C:\Users\kkosf\Documents\nss\projects\capstone\data\CT_from_python\CT_from_python.csv', index=False)

In [69]:
#creating a data set with all of the covid studies removed in case it is needed:

ct_no_covid = ct_whole[ct_whole['CovidStudy'] == False]
ct_no_covid.head()

,nct_id,study_first_submitted_date,start_date_type,start_date,completion_date_type,completion_date,target_duration,study_type,brief_title,official_title,...,start_year,number_of_facilities,registered_in_calendar_year,actual_duration,sponsor_type,lead_or_collaborator,sponsor,study_duration_days,CovidStudy,reason_stopped
0,NCT04331431,2020-03-28,Actual,2008-04-01,Actual,2015-04-08,None,Interventional,Outcomes of the Intradural Extramedullary Tumo...,Professor of Neurosurgery,...,2008,NaN,2020,85.0,Other,lead,Sohag University,2563.0,False,NA
1,NCT04645472,2020-11-25,Actual,2020-04-20,Anticipated,2021-04-30,None,Observational,CT-Ultrasound Fusion in Guiding PCNL Puncture,Accurate Positioning of CT-Ultrasound Fusion i...,...,2020,1.0,2020,NaN,Other,lead,Zhenyu Wu,375.0,False,NA
2,NCT04646369,2020-11-20,Actual,2020-11-05,Anticipated,2022-04-30,None,Interventional,Screening Wizard- Phase 2,The Center for Enhancing Treatment & Utilizati...,...,2020,4.0,2020,NaN,Other,lead,University of Pittsburgh,541.0,False,NA
3,NCT04646356,2020-10-20,Actual,2020-10-20,Anticipated,2022-09-30,None,Interventional,Tacrolimus Crossover Trial for Hereditary Hemo...,Tacrolimus Crossover Trial for Hereditary Hemo...,...,2020,1.0,2020,NaN,Other,lead,"St. Michael's Hospital, Toronto",710.0,False,NA
4,NCT04646330,2020-11-23,Anticipated,2020-11-30,Anticipated,2023-12-31,None,Interventional,A Trial of AK104 Plus Anlotinib in NSCLC,A Phase II Trial of AK104 Plus Anlotinib in Pa...,...,2020,1.0,2020,NaN,Industry,lead,Akeso,1126.0,False,NA

In [70]:
#checking that no studies marked true for covidstudy remain:

ct_no_covid.CovidStudy.value_counts()

False    356006
Name: CovidStudy, dtype: int64

In [71]:
#saving the dataset with the covid studies removed to csv to use elsewhere:

ct_no_covid.to_csv(r'C:\Users\kkosf\Documents\nss\projects\capstone\data\CT_from_python\ct_no_covid_from_python.csv', index=False)
ct_no_covid.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 356006 entries, 0 to 360144
Data columns (total 28 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   nct_id                       356006 non-null  object
 1   study_first_submitted_date   356006 non-null  object
 2   start_date_type              162201 non-null  object
 3   start_date                   351142 non-null  datetime64[ns]
 4   completion_date_type         331593 non-null  object
 5   completion_date              338433 non-null  datetime64[ns]
 6   target_duration              6697 non-null    object
 7   study_type                   356006 non-null  object
 8   brief_title                  356006 non-null  object
 9   official_title               345895 non-null  object
 10  overall_status               356006 non-null  object
 11  phase                        279172 non-null  object
 12  enrollment                   349310 non-null  float64
 13  enrollment_type              339170 non-null  object
 14  source                       356006 non-null  object
 15  why_stopped                  356006 non-null  object
 16  is_fda_regulated_drug        132509 non-null  object
 17  is_fda_regulated_device      132506 non-null  object
 18  start_year                   356006 non-null  object
 19  number_of_facilities         314589 non-null  float64
 20  registered_in_calendar_year  356006 non-null  int64
 21  actual_duration              210571 non-null  float64
 22  sponsor_type                 355156 non-null  object
 23  lead_or_collaborator         356006 non-null  object
 24  sponsor                      356006 non-null  object
 25  study_duration_days          337463 non-null  float64
 26  CovidStudy                   356006 non-null  bool
 27  reason_stopped               356006 non-null  object
dtypes: bool(1), datetime64[ns](2), float64(4), int64(1), object(20)
memory usage: 76.4+ MB

In [72]:
#saving the other datasets to csv to use elsewhere:

interventions.to_csv(r'C:\Users\kkosf\Documents\nss\projects\capstone\data\CT_from_python\ct_interventions_from_python.csv', index=False)
conditions.to_csv(r'C:\Users\kkosf\Documents\nss\projects\capstone\data\CT_from_python\ct_conditions_from_python.csv', index=False)
countries.to_csv(r'C:\Users\kkosf\Documents\nss\projects\capstone\data\CT_from_python\ct_countries_from_python.csv', index=False)
sponsors.to_csv(r'C:\Users\kkosf\Documents\nss\projects\capstone\data\CT_from_python\ct_sponsors_from_python.csv', index=False)