In [1]:
#import packages needed:

import pandas as pd
import regex as re
import numpy as np
import psycopg2
from sqlalchemy import create_engine

In [2]:
#import data files, this is the covid only data from clinicaltrials.gov:

ct_covid = pd.read_csv('../data/all_covid_studies_ctgov.csv') #-covid only trials from clinicaltrials.gov downloaded 12/28/20

In [3]:
#import data files, this is the full clinicaltrials.gov relational database from CTTI (connection to SQL):

#Read in main clinicaltrials.gov dataset from SQL database, additional tables will be pulled in later:
engine = create_engine("postgres+psycopg2://postgres:postgres@localhost:5432/AACT")
ct_all = pd.read_sql("SELECT * FROM studies;", con=engine)

ct_all.head()

,nct_id,nlm_download_date_description,study_first_submitted_date,results_first_submitted_date,disposition_first_submitted_date,last_update_submitted_date,study_first_submitted_qc_date,study_first_posted_date,study_first_posted_date_type,results_first_submitted_qc_date,...,is_us_export,biospec_retention,biospec_description,ipd_time_frame,ipd_access_criteria,ipd_url,plan_to_share_ipd,plan_to_share_ipd_description,created_at,updated_at
0,NCT04331431,ClinicalTrials.gov processed this data on Nove...,2020-03-28,None,None,2020-03-31,2020-03-31,2020-04-02,Actual,None,...,None,None,,None,None,None,None,None,2020-12-01 07:41:58.458186,2020-12-01 07:41:58.458186
1,NCT04645472,ClinicalTrials.gov processed this data on Nove...,2020-11-25,None,None,2020-11-25,2020-11-25,2020-11-27,Actual,None,...,None,None,,None,None,None,No,None,2020-12-01 06:44:46.185147,2020-12-01 06:44:46.185147
2,NCT04646369,ClinicalTrials.gov processed this data on Nove...,2020-11-20,None,None,2020-11-20,2020-11-20,2020-11-27,Actual,None,...,None,None,,These data will be released to the NDCT soon a...,"In addition to public access to the NDCT, data...",None,Yes,All requests for study data will follow NIMH's...,2020-12-01 06:44:35.512935,2020-12-01 06:44:35.512935
3,NCT04646356,ClinicalTrials.gov processed this data on Nove...,2020-10-20,None,None,2020-11-20,2020-11-20,2020-11-27,Actual,None,...,False,None,,None,None,None,No,None,2020-12-01 06:44:36.897833,2020-12-01 06:44:36.897833
4,NCT04646330,ClinicalTrials.gov processed this data on Nove...,2020-11-23,None,None,2020-11-23,2020-11-23,2020-11-27,Actual,None,...,None,None,,None,None,None,None,None,2020-12-01 06:44:37.204421,2020-12-01 06:44:37.204421

In [4]:
#check columns for full ct data to see which to keep for analysis:

ct_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 360145 entries, 0 to 360144
Data columns (total 64 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   nct_id                               360145 non-null  object
 1   nlm_download_date_description        360145 non-null  object
 2   study_first_submitted_date           360145 non-null  object
 3   results_first_submitted_date         46342 non-null   object
 4   disposition_first_submitted_date     7523 non-null    object
 5   last_update_submitted_date           360145 non-null  object
 6   study_first_submitted_qc_date        360145 non-null  object
 7   study_first_posted_date              360145 non-null  object
 8   study_first_posted_date_type         360145 non-null  object
 9   results_first_submitted_qc_date      46342 non-null   object
 10  results_first_posted_date            46342 non-null   object
 11  results_first_posted_date_type       46342 non-null   object
 12  disposition_first_submitted_qc_date  7522 non-null    object
 13  disposition_first_posted_date        7522 non-null    object
 14  disposition_first_posted_date_type   7522 non-null    object
 15  last_update_submitted_qc_date        360145 non-null  object
 16  last_update_posted_date              360145 non-null  object
 17  last_update_posted_date_type         360145 non-null  object
 18  start_month_year                     355250 non-null  object
 19  start_date_type                      166306 non-null  object
 20  start_date                           355250 non-null  object
 21  verification_month_year              359295 non-null  object
 22  verification_date                    359295 non-null  object
 23  completion_month_year                342540 non-null  object
 24  completion_date_type                 335700 non-null  object
 25  completion_date                      342540 non-null  object
 26  primary_completion_month_year        338181 non-null  object
 27  primary_completion_date_type         338117 non-null  object
 28  primary_completion_date              338181 non-null  object
 29  target_duration                      6935 non-null    object
 30  study_type                           360145 non-null  object
 31  acronym                              96037 non-null   object
 32  baseline_population                  360145 non-null  object
 33  brief_title                          360145 non-null  object
 34  official_title                       350033 non-null  object
 35  overall_status                       360145 non-null  object
 36  last_known_status                    39161 non-null   object
 37  phase                                281526 non-null  object
 38  enrollment                           353418 non-null  float64
 39  enrollment_type                      343278 non-null  object
 40  source                               360145 non-null  object
 41  limitations_and_caveats              360145 non-null  object
 42  number_of_arms                       257616 non-null  float64
 43  number_of_groups                     49065 non-null   float64
 44  why_stopped                          26109 non-null   object
 45  has_expanded_access                  354013 non-null  object
 46  expanded_access_type_individual      153 non-null     object
 47  expanded_access_type_intermediate    94 non-null      object
 48  expanded_access_type_treatment       110 non-null     object
 49  has_dmc                              295084 non-null  object
 50  is_fda_regulated_drug                136566 non-null  object
 51  is_fda_regulated_device              136558 non-null  object
 52  is_unapproved_device                 1828 non-null    object
 53  is_ppsd                              9 non-null       object
 54  is_us_export                         21579 non-null   object
 55  biospec_retention                    17247 non-null   object
 56  biospec_description                  360145 non-null  object
 57  ipd_time_frame                       8776 non-null    object
 58  ipd_access_criteria                  8031 non-null    object
 59  ipd_url                              4993 non-null    object
 60  plan_to_share_ipd                    130712 non-null  object
 61  plan_to_share_ipd_description        29741 non-null   object
 62  created_at                           360145 non-null  datetime64[ns]
 63  updated_at                           360145 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(3), object(59)
memory usage: 175.9+ MB

In [5]:
ct_all.overall_status.value_counts()

Completed                    193535
Recruiting                    55432
Unknown status                39161
Terminated                    20433
Active, not recruiting        17863
Not yet recruiting            17587
Withdrawn                      9358
Enrolling by invitation        3387
Suspended                      1832
Withheld                        850
No longer available             295
Available                       240
Approved for marketing          153
Temporarily not available        19
Name: overall_status, dtype: int64

In [6]:
ct_all.completion_date_type.value_counts()

Actual         202499
Anticipated    133201
Name: completion_date_type, dtype: int64

In [7]:
#check for duplicates:

ctduplicates = ct_all.nct_id.duplicated()
ctduplicates.value_counts()

False    360145
Name: nct_id, dtype: int64

In [8]:
#select columns to focus on for ct_all dataset, will pull in more info from other tables in SQL once this is done:

ct_all_sub = ct_all[[
 'nct_id',
 'study_first_submitted_date',      
 'results_first_submitted_date',              
 'last_update_submitted_date',   
 'start_date_type',      
 'start_date',       
 'completion_date_type',        
 'completion_date',
 'results_first_posted_date',
 'target_duration',       
 'study_type',
 'brief_title',                          
 'official_title',                    
 'overall_status',
 'phase',                                        
 'enrollment',                                  
 'enrollment_type',
 'source',
 'limitations_and_caveats',
 'why_stopped',                                
 'has_expanded_access',
 'is_fda_regulated_drug',                       
 'is_fda_regulated_device'
]] 
    
    
ct_all_sub.head(2)

,nct_id,study_first_submitted_date,results_first_submitted_date,last_update_submitted_date,start_date_type,start_date,completion_date_type,completion_date,results_first_posted_date,target_duration,...,overall_status,phase,enrollment,enrollment_type,source,limitations_and_caveats,why_stopped,has_expanded_access,is_fda_regulated_drug,is_fda_regulated_device
0,NCT04331431,2020-03-28,None,2020-03-31,Actual,2008-04-01,Actual,2015-04-08,None,None,...,Completed,N/A,24.0,Actual,Sohag University,,None,False,False,False
1,NCT04645472,2020-11-25,None,2020-11-25,Actual,2020-04-20,Anticipated,2021-04-30,None,None,...,Recruiting,None,70.0,Anticipated,Sun Yat-Sen Memorial Hospital of Sun Yat-Sen U...,,None,False,False,False

In [9]:
#add year column for start_date, ignoring the warning for now:

ct_all_sub['start_date'] = pd.to_datetime(ct_all_sub['start_date'])
ct_all_sub['start_year'] = ct_all_sub['start_date'].dt.year.astype(str).replace('\.0', '', regex=True)

ct_all_sub.head()

<ipython-input-9-61ab0e5e5a63>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ct_all_sub['start_date'] = pd.to_datetime(ct_all_sub['start_date'])
<ipython-input-9-61ab0e5e5a63>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ct_all_sub['start_year'] = ct_all_sub['start_date'].dt.year.astype(str).replace('\.0', '', regex=True)

,nct_id,study_first_submitted_date,results_first_submitted_date,last_update_submitted_date,start_date_type,start_date,completion_date_type,completion_date,results_first_posted_date,target_duration,...,phase,enrollment,enrollment_type,source,limitations_and_caveats,why_stopped,has_expanded_access,is_fda_regulated_drug,is_fda_regulated_device,start_year
0,NCT04331431,2020-03-28,None,2020-03-31,Actual,2008-04-01,Actual,2015-04-08,None,None,...,N/A,24.0,Actual,Sohag University,,None,False,False,False,2008
1,NCT04645472,2020-11-25,None,2020-11-25,Actual,2020-04-20,Anticipated,2021-04-30,None,None,...,None,70.0,Anticipated,Sun Yat-Sen Memorial Hospital of Sun Yat-Sen U...,,None,False,False,False,2020
2,NCT04646369,2020-11-20,None,2020-11-20,Actual,2020-11-05,Anticipated,2022-04-30,None,None,...,N/A,100.0,Anticipated,University of Pittsburgh,,None,False,False,False,2020
3,NCT04646356,2020-10-20,None,2020-11-20,Actual,2020-10-20,Anticipated,2022-09-30,None,None,...,Phase 2,30.0,Anticipated,"St. Michael's Hospital, Toronto",,None,False,False,False,2020
4,NCT04646330,2020-11-23,None,2020-11-23,Anticipated,2020-11-30,Anticipated,2023-12-31,None,None,...,Phase 1/Phase 2,120.0,Anticipated,Akeso,,None,False,False,False,2020

In [10]:
ct_all_sub.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 360145 entries, 0 to 360144
Data columns (total 24 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   nct_id                        360145 non-null  object
 1   study_first_submitted_date    360145 non-null  object
 2   results_first_submitted_date  46342 non-null   object
 3   last_update_submitted_date    360145 non-null  object
 4   start_date_type               166306 non-null  object
 5   start_date                    355250 non-null  datetime64[ns]
 6   completion_date_type          335700 non-null  object
 7   completion_date               342540 non-null  object
 8   results_first_posted_date     46342 non-null   object
 9   target_duration               6935 non-null    object
 10  study_type                    360145 non-null  object
 11  brief_title                   360145 non-null  object
 12  official_title                350033 non-null  object
 13  overall_status                360145 non-null  object
 14  phase                         281526 non-null  object
 15  enrollment                    353418 non-null  float64
 16  enrollment_type               343278 non-null  object
 17  source                        360145 non-null  object
 18  limitations_and_caveats       360145 non-null  object
 19  why_stopped                   26109 non-null   object
 20  has_expanded_access           354013 non-null  object
 21  is_fda_regulated_drug         136566 non-null  object
 22  is_fda_regulated_device       136558 non-null  object
 23  start_year                    360145 non-null  object
dtypes: datetime64[ns](1), float64(1), object(22)
memory usage: 65.9+ MB

In [11]:
#pull in interventions, conditions, sponsors, countries, and calculated_values tables from SQL and check how many records in each:

engine = create_engine("postgres+psycopg2://postgres:postgres@localhost:5432/AACT")

interventions =  pd.read_sql("SELECT * FROM interventions;", con=engine)
conditions =  pd.read_sql("SELECT * FROM conditions;", con=engine)
sponsors =  pd.read_sql("SELECT * FROM sponsors;", con=engine)
countries =  pd.read_sql("SELECT * FROM countries;", con=engine)
calculated_values =  pd.read_sql("SELECT * FROM calculated_values;", con=engine)

print(interventions.shape)
print(conditions.shape)
print(sponsors.shape)
print(countries.shape)
print(calculated_values.shape)

(618521, 5)
(607333, 4)
(574931, 5)
(510391, 4)
(360145, 19)

In [12]:
#checking the interventions table, there are multiple entries per study so it will be difficult to join with main data:

iduplicates = interventions.nct_id.duplicated()
print(iduplicates.value_counts())
interventions = interventions[['nct_id', 'intervention_type', 'name']]
interventions = interventions.rename(columns = {'name': 'intervention'}) 
interventions.head()

False    322164
True     296357
Name: nct_id, dtype: int64

        nct_id intervention_type                 intervention
0  NCT04423627              Drug                      Placebo
1  NCT04645888         Procedure       Impacted tooth surgery
2  NCT04646369        Behavioral         "screening as usual"
3  NCT04646369        Behavioral         Screening Wizard 2.0
4  NCT04646369        Behavioral  Screening Wizard 2.0 + SOVA

In [14]:
#lowercasing the intervention field to help with aggregation later:

interventions['intervention'] = interventions['intervention'].str.lower()

interventions.intervention.value_counts().head()

placebo                          29438
laboratory biomarker analysis     3200
cyclophosphamide                  2344
cisplatin                         1854
paclitaxel                        1720
Name: intervention, dtype: int64

In [15]:
#also revising some of the names so they aggregate properly:

interventions.intervention = interventions.intervention.str.replace('questionnaire administration', 'questionnaire')
interventions.intervention = interventions.intervention.str.replace('questionnaires', 'questionnaire')
interventions.intervention = interventions.intervention.str.replace('quality-of-life assessment', 'questionnaire')
interventions.intervention = interventions.intervention.str.replace('survey', 'questionnaire')
interventions.intervention = interventions.intervention.str.replace('online survey', 'questionnaire')
interventions.intervention = interventions.intervention.str.replace('online questionnaire', 'questionnaire')
interventions.intervention = interventions.intervention.str.replace('questionnaire assesment', 'questionnaire')
interventions.intervention = interventions.intervention.str.replace('placebos', 'placebo')
interventions.intervention = interventions.intervention.str.replace('placebo oral tablet', 'placebo')
interventions.intervention = interventions.intervention.str.replace('normal saline', 'saline')
interventions.intervention = interventions.intervention.str.replace('usual care', 'standard of care')
interventions.intervention = interventions.intervention.str.replace('standard care', 'standard of care')
interventions.intervention = interventions.intervention.str.replace('standard of care(soc)', 'standard of care')
interventions.intervention = interventions.intervention.str.replace('standard treatment', 'standard of care')
interventions.intervention = interventions.intervention.str.replace('control group', 'control')
interventions.intervention = interventions.intervention.str.replace('radiotherapy', 'radiation therapy')
interventions.intervention = interventions.intervention.str.replace('doxorubicin hydrochloride', 'doxorubicin')
interventions.intervention = interventions.intervention.str.replace('gemcitabine hydrochloride', 'gemcitabine')
interventions.intervention = interventions.intervention.str.replace('blood samples', 'blood sample')
interventions.intervention = interventions.intervention.str.replace('blood sampling', 'blood sample')
interventions.intervention = interventions.intervention.str.replace('covid-19 convalescent plasma', 'convalescent plasma')
interventions.intervention = interventions.intervention.str.replace('hydroxychloroquine sulfate', 'hydroxychloroquine')
interventions.intervention = interventions.intervention.str.replace('hydroxychloroquine(hcq)', 'hydroxychloroquine')

In [80]:
interventions.intervention.value_counts().head(50)

placebo                                       30638
questionnaire                                  3388
laboratory biomarker analysis                  3200
standard of care                               2353
cyclophosphamide                               2344
control                                        2024
radiation therapy                              1956
cisplatin                                      1854
saline                                         1789
paclitaxel                                     1720
carboplatin                                    1716
dexamethasone                                  1585
gemcitabine                                    1569
docetaxel                                      1319
rituximab                                      1314
bevacizumab                                    1307
no intervention                                1272
metformin                                      1058
pembrolizumab                                  1048
doxorubicin                                    1012
methotrexate                                    975
prednisone                                      954
pharmacological study                           947
etoposide                                       943
capecitabine                                    934
nivolumab                                       932
exercise                                        911
oxaliplatin                                     859
cytarabine                                      774
filgrastim                                      771
fludarabine                                     667
blood sample                                    663
lenalidomide                                    647
dexmedetomidine                                 639
propofol                                        613
fluorouracil                                    604
tacrolimus                                      588
temozolomide                                    582
cetuximab                                       571
bortezomib                                      569
melphalan                                       537
trastuzumab                                     520
ipilimumab                                      504
ketamine                                        502
midazolam                                       493
atorvastatin                                    488
acupuncture                                     486
peripheral blood stem cell transplantation      476
pemetrexed                                      474
mycophenolate mofetil                           464
Name: intervention, dtype: int64

In [17]:
#adding a column to distinguish if the study is a covid study in the interventions table:

interventions = interventions.assign(CovidStudy=interventions.nct_id.isin(ct_covid['NCT Number']))

In [18]:
interventions.head()

        nct_id intervention_type                 intervention  CovidStudy
0  NCT04423627              Drug                      placebo       False
1  NCT04645888         Procedure       impacted tooth surgery       False
2  NCT04646369        Behavioral         "screening as usual"       False
3  NCT04646369        Behavioral         screening wizard 2.0       False
4  NCT04646369        Behavioral  screening wizard 2.0 + sova       False

In [19]:
interventions.CovidStudy.value_counts()

False    612707
True       5814
Name: CovidStudy, dtype: int64

In [20]:
#checking the conditions table, there are multiple entries per study so it will be difficult to join with main data:

cduplicates = conditions.nct_id.duplicated()
print(cduplicates.value_counts())
conditions = conditions[['nct_id','downcase_name']]
conditions = conditions.rename(columns = {'downcase_name': 'condition'})
conditions.condition = conditions.condition.str.replace(r"[\"\',.]", '')
conditions.head()

False    359277
True     248056
Name: nct_id, dtype: int64

        nct_id    condition
0  NCT02892617      modic 1
1  NCT02889016         pans
2  NCT02887209          hiv
3  NCT02882607          hiv
4  NCT02882256  head injury

In [21]:
conditions.condition.value_counts().head()

healthy           7946
breast cancer     5878
obesity           5305
hiv infections    3413
hypertension      3322
Name: condition, dtype: int64

In [22]:
#revising some of the names so they aggregate properly:

conditions.condition = conditions.condition.str.replace('healthy volunteers', 'healthy')
conditions.condition = conditions.condition.str.replace('healthy subjects', 'healthy')
conditions.condition = conditions.condition.str.replace('healthy volunteer', 'healthy')
conditions.condition = conditions.condition.str.replace('hiv infections', 'hiv')
conditions.condition = conditions.condition.str.replace('hiv infection', 'hiv')
conditions.condition = conditions.condition.str.replace('diabetes mellitus type 2', 'type 2 diabetes')
conditions.condition = conditions.condition.str.replace('diabetes mellitus', 'diabetes')
conditions.condition = conditions.condition.str.replace('type 2 diabetes mellitus', 'type 2 diabetes')
conditions.condition = conditions.condition.str.replace('type 1 diabetes mellitus', 'type 1 diabetes')
conditions.condition = conditions.condition.str.replace('diabetes mellitus type 1', 'type 1 diabetes')
conditions.condition = conditions.condition.str.replace('major depressive disorder', 'depression')
conditions.condition = conditions.condition.str.replace('parkinson disease', 'parkinsons disease')
conditions.condition = conditions.condition.str.replace('heart diseases', 'coronary disease')
conditions.condition = conditions.condition.str.replace('cardiovascular diseases', 'cardiovascular disease')
conditions.condition = conditions.condition.str.replace('copd', 'chronic obstructive pulmonary disease')
conditions.condition = conditions.condition.str.replace('pulmonary disease, chronic obstructive', 'chronic obstructive pulmonary disease')
conditions.condition = conditions.condition.str.replace('alzheimer disease', 'alzheimers disease')
conditions.condition = conditions.condition.str.replace('covid', 'covid-19')
conditions.condition = conditions.condition.str.replace('covid19', 'covid-19')
conditions.condition = conditions.condition.str.replace('covid19 infection', 'covid-19')
conditions.condition = conditions.condition.str.replace('covid19 pneumonia', 'covid-19')
conditions.condition = conditions.condition.str.replace('covid 19', 'covid-19')
conditions.condition = conditions.condition.str.replace('pain, postoperative', 'postoperative pain')
conditions.condition = conditions.condition.str.replace('acute myeloid leukemia(aml)', 'acute myeloid leukemia')
conditions.condition = conditions.condition.str.replace('aml', 'acute myeloid leukemia')
conditions.condition = conditions.condition.str.replace('anxiety disorders', 'anxiety')
conditions.condition = conditions.condition.str.replace('carcinoma nonsmallcell lung', 'non-small cell lung cancer')
conditions.condition = conditions.condition.str.replace('coronary artery disease', 'coronary disease')
conditions.condition = conditions.condition.str.replace('myleodysplasic syndromes', 'myleodysplasic syndrome')
conditions.condition = conditions.condition.str.replace('solid tumors', 'solid tumor')
conditions.condition = conditions.condition.str.replace('unspecified adult solid tumor protocol specific', 'solid tumor')

In [26]:
conditions.condition.value_counts().head()

healthy            10689
breast cancer       5878
type 2 diabetes     5775
hiv                 5490
obesity             5305
Name: condition, dtype: int64

In [24]:
#not sure why it is adding an additional '-19' to 'covid-19' so removing it:
conditions.condition = conditions.condition.str.replace('covid-19-19', 'covid-19')

In [27]:
conditions.condition.value_counts().head(30)

healthy                                  10689
breast cancer                             5878
type 2 diabetes                           5775
hiv                                       5490
obesity                                   5305
coronary disease                          4304
depression                                4137
diabetes                                  4082
hypertension                              3322
prostate cancer                           3124
pain                                      2976
asthma                                    2972
cardiovascular disease                    2952
stroke                                    2843
cancer                                    2457
schizophrenia                             2398
parkinsons disease                        2330
heart failure                             2318
chronic obstructive pulmonary disease     2228
colorectal cancer                         2209
lung cancer                               2161
rheumatoid arthritis                      1970
alzheimers disease                        1868
atrial fibrillation                       1856
solid tumor                               1848
lymphoma                                  1724
anxiety                                   1723
multiple myeloma                          1655
covid-19                                  1639
multiple sclerosis                        1550
Name: condition, dtype: int64

In [28]:
#adding a column to distinguish if the study is a covid study in the conditions table:


conditions = conditions.assign(CovidStudy=conditions.nct_id.isin(ct_covid['NCT Number']))
conditions.head()

        nct_id    condition  CovidStudy
0  NCT02892617      modic 1       False
1  NCT02889016         pans       False
2  NCT02887209          hiv       False
3  NCT02882607          hiv       False
4  NCT02882256  head injury       False

In [29]:
conditions.CovidStudy.value_counts()

False    599391
True       7942
Name: CovidStudy, dtype: int64

In [30]:
#checking the countries table, there are multiple entries per study so it will be difficult to join with main data:

cnduplicates = countries.nct_id.duplicated()
print(cnduplicates.value_counts())
countries.head()

False    323475
True     186916
Name: nct_id, dtype: int64

         id       nct_id                name removed
0  10009076  NCT04646369       United States    None
1  10009077  NCT04646356              Canada    None
2  10009079  NCT04646330               China    None
3  10009080  NCT04646317            Pakistan    None
4  10009082  NCT04646278  Korea, Republic of    None

In [32]:
countries.name.value_counts()

United States     141580
France             27778
Canada             24043
Germany            21891
United Kingdom     20356
                   ...
Kiribati               1
Greenland              1
Dominica               1
Maldives               1
Samoa                  1
Name: name, Length: 223, dtype: int64

In [34]:
#taking out the ones identified as "removed" as these countries are no longer participating in the associated study:

print(countries.removed.value_counts())
countries = countries[countries.removed != True]
countries.head()

True    29944
Name: removed, dtype: int64

In [38]:
countries.name.value_counts()

United States     137320
France             26764
Canada             22736
Germany            20587
United Kingdom     19347
                   ...
Samoa                  1
Montserrat             1
Seychelles             1
Antarctica             1
Aruba                  1
Name: name, Length: 219, dtype: int64

In [40]:
#keeping only the needed columns and renaming them:

countries = countries[['nct_id', 'name']]
countries = countries.rename(columns = {'name' : 'country'})

In [41]:
#adding a column to distinguish if the study is a covid study in the countries table:


countries = countries.assign(CovidStudy=countries.nct_id.isin(ct_covid['NCT Number']))
countries.head()

        nct_id             country  CovidStudy
0  NCT04646369       United States       False
1  NCT04646356              Canada       False
2  NCT04646330               China       False
3  NCT04646317            Pakistan       False
4  NCT04646278  Korea, Republic of       False

In [42]:
countries.CovidStudy.value_counts()

False    476137
True       4310
Name: CovidStudy, dtype: int64

In [43]:
#checking the sponsors table, there are multiple entries per study so it will be difficult to join with main data:

sduplicates = sponsors.nct_id.duplicated()
print(sduplicates.value_counts())
sponsors = sponsors[['nct_id','agency_class', 'lead_or_collaborator', 'name']]
sponsors = sponsors.rename(columns = {'agency_class' : 'sponsor_type','name': 'sponsor'})
sponsors.head()

False    360145
True     214786
Name: nct_id, dtype: int64

,nct_id,sponsor_type,lead_or_collaborator,sponsor
0,NCT04646369,Other,lead,University of Pittsburgh
1,NCT04646369,Other,collaborator,Kaiser Foundation Research Institute
2,NCT04646369,NIH,collaborator,National Institute of Mental Health (NIMH)
3,NCT04646356,Other,lead,"St. Michael's Hospital, Toronto"
4,NCT04646356,U.S. Fed,collaborator,United States Department of Defense

In [44]:
#But, could separate out for lead only and it should match with the main study data set:

sponsors.lead_or_collaborator.value_counts()

lead            360145
collaborator    214786
Name: lead_or_collaborator, dtype: int64

In [45]:
#separate out lead sponsors so I can join it with the main dataset:

lead_sponsors = sponsors[sponsors.lead_or_collaborator == 'lead']
lead_sponsors

,nct_id,sponsor_type,lead_or_collaborator,sponsor
0,NCT04646369,Other,lead,University of Pittsburgh
3,NCT04646356,Other,lead,"St. Michael's Hospital, Toronto"
5,NCT04646330,Industry,lead,Akeso
6,NCT04646317,Other,lead,"Dr. Ruth K.M. Pfau Civil Hospital, Karachi"
7,NCT04646304,Other,lead,Ottawa Hospital Research Institute
...,...,...,...,...
574926,NCT00001645,NIH,lead,National Institute of Allergy and Infectious D...
574927,NCT00001582,NIH,lead,National Cancer Institute (NCI)
574928,NCT00001521,NIH,lead,Eunice Kennedy Shriver National Institute of C...
574929,NCT00001456,NIH,lead,National Human Genome Research Institute (NHGRI)
574930,NCT00001351,NIH,lead,National Institute of Allergy and Infectious D...

In [46]:
#checking the calculated values table, it looks like there are no duplicates so it will be easy to join with main data:

cvduplicates = calculated_values.nct_id.duplicated()
print(cvduplicates.value_counts())
calculated_values = calculated_values[['nct_id', 'number_of_facilities', 'registered_in_calendar_year', 'actual_duration', 'were_results_reported', 'months_to_report_results']]
calculated_values.head()

False    360145
Name: nct_id, dtype: int64

,nct_id,number_of_facilities,registered_in_calendar_year,actual_duration,were_results_reported,months_to_report_results
0,NCT00506311,1.0,2007,58.0,False,NaN
1,NCT00652496,1.0,2008,4.0,False,NaN
2,NCT00581698,1.0,2007,227.0,False,NaN
3,NCT00643214,1.0,2008,1.0,False,NaN
4,NCT00632684,1.0,2008,31.0,False,NaN

In [47]:
calculated_values.actual_duration.value_counts()

12.0     7208
2.0      5994
3.0      5867
6.0      5863
1.0      5857
         ...
617.0       1
401.0       1
311.0       1
393.0       1
350.0       1
Name: actual_duration, Length: 345, dtype: int64

In [48]:
#combine ct all with calculated values and lead sponsors datasets:

ct_all_sub_cv = pd.merge(ct_all_sub, calculated_values, on='nct_id')
ct_whole = pd.merge(ct_all_sub_cv, lead_sponsors, on='nct_id')

In [49]:
#converting start date and completion date to datetime and creating a study duration column, the actual duration is in months,
#this will be in days:

ct_whole[['start_date','completion_date']] = ct_whole[['start_date','completion_date']].apply(pd.to_datetime) 
ct_whole['study_duration_days'] = (ct_whole['completion_date'] - ct_whole['start_date']).dt.days

In [50]:
print(ct_whole.shape)
ct_whole.head(3)

(360145, 33)

,nct_id,study_first_submitted_date,results_first_submitted_date,last_update_submitted_date,start_date_type,start_date,completion_date_type,completion_date,results_first_posted_date,target_duration,...,start_year,number_of_facilities,registered_in_calendar_year,actual_duration,were_results_reported,months_to_report_results,sponsor_type,lead_or_collaborator,sponsor,study_duration_days
0,NCT04331431,2020-03-28,None,2020-03-31,Actual,2008-04-01,Actual,2015-04-08,None,None,...,2008,NaN,2020,85.0,False,NaN,Other,lead,Sohag University,2563.0
1,NCT04645472,2020-11-25,None,2020-11-25,Actual,2020-04-20,Anticipated,2021-04-30,None,None,...,2020,1.0,2020,NaN,False,NaN,Other,lead,Zhenyu Wu,375.0
2,NCT04646369,2020-11-20,None,2020-11-20,Actual,2020-11-05,Anticipated,2022-04-30,None,None,...,2020,4.0,2020,NaN,False,NaN,Other,lead,University of Pittsburgh,541.0

In [51]:
#looks like there are some odd dates in the start_year column, also checking to see the difference with registered year below:

ct_whole.start_year.value_counts()

2020    29521
2019    28265
2018    27852
2017    26493
2016    25615
        ...
1900        1
1931        1
1968        1
1967        1
1958        1
Name: start_year, Length: 70, dtype: int64

In [52]:
ct_whole.registered_in_calendar_year.value_counts()

2020    32436
2019    32168
2018    30589
2017    29465
2016    27982
2015    24374
2014    23585
2013    20535
2012    19671
2011    18252
2010    17743
2009    17141
2008    16998
2007    13380
2005    12893
2006    10926
1999     3645
2000     1980
2004     1787
2003     1662
2002     1587
2001     1346
Name: registered_in_calendar_year, dtype: int64

**Attemped to join the interventions data to the main data. Would like to have each intervention populate a new column.
Unfortunately, it looks like there are even more than I expected per study, so will keep it separate for now.**


*Did a couple different types of joins - here:*
all_interventions = ct_whole.append(interventions)
print(all_interventions.shape)
print(all_interventions.nct_id.nunique())
all_interventions

*and here:*
ct_interventions = ct_whole.merge(interventions, how='inner', on='nct_id')
print(ct_interventions.shape)
print(ct_interventions.nct_id.nunique())
ct_interventions

**Tried this to separate out into different columns**

#see https://stackoverflow.com/questions/22798934/pandas-long-to-wide-reshape-by-two-variables

interventions['idx'] = interventions.groupby('nct_id').cumcount()

tmp = []
for var in ['name']:
    interventions['tmp_idx'] = var + '_' + interventions.idx.astype(str)
    tmp.append(interventions.pivot(index='nct_id',columns='tmp_idx',values=var))

reshape = pd.concat(tmp,axis=1)

reshape.head()

In [53]:
#checking out the separate covid data set:

ct_covid.head()

,Rank,NCT Number,Title,Acronym,Status,Study Results,Conditions,Interventions,Outcome Measures,Sponsor/Collaborators,...,Other IDs,Start Date,Primary Completion Date,Completion Date,First Posted,Results First Posted,Last Update Posted,Locations,Study Documents,URL
0,1,NCT04372602,Duvelisib to Combat COVID-19,NaN,Recruiting,No Results Available,COVID-19,Drug: Duvelisib|Procedure: Peripheral blood dr...,Overall survival|Length of hospital stay|Lengt...,Washington University School of Medicine|Veras...,...,202007009,"October 12, 2020","November 30, 2021","April 30, 2022","May 4, 2020",NaN,"November 9, 2020","Washington University School of Medicine, Sain...",NaN,https://ClinicalTrials.gov/show/NCT04372602
1,2,NCT04364698,Observational Cohort of COVID-19 Patients at R...,COVID-RPC,Recruiting,No Results Available,COVID-19,NaN,"clinical, biological and radiological characte...",Assistance Publique - HÃ´pitaux de Paris,...,20SBS-COVID-RPC,"May 7, 2020",June 2020,June 2020,"April 28, 2020",NaN,"May 14, 2020","Department of Infectiology, Raymond PoincarÃ© H...",NaN,https://ClinicalTrials.gov/show/NCT04364698
2,3,NCT04482621,Decitabine for Coronavirus (COVID-19) Pneumoni...,DART,Recruiting,No Results Available,COVID-19,Drug: Decitabine|Other: Placebo Saline,Change in clinical state as assessed by a 6-po...,Johns Hopkins University,...,IRB00247544,"September 14, 2020",May 2021,July 2021,"July 22, 2020",NaN,"September 25, 2020","Johns Hopkins University, Baltimore, Maryland,...",NaN,https://ClinicalTrials.gov/show/NCT04482621
3,4,NCT04459637,COVID-19 Surveillance Based on Smart Wearable ...,COVID-19SWD,Not yet recruiting,No Results Available,COVID-19,NaN,Deterioration of the condition|Mortality|The i...,Peking University First Hospital,...,2020055-0615,"July 1, 2020","March 10, 2021","March 10, 2021","July 7, 2020",NaN,"July 7, 2020","Peking University First Hospital, Beijing, Bei...",NaN,https://ClinicalTrials.gov/show/NCT04459637
4,5,NCT04425538,A Phase 2 Trial of Infliximab in Coronavirus D...,NaN,Recruiting,No Results Available,COVID-19,Drug: Infliximab,Time to improvement in oxygenation|28-day mort...,Tufts Medical Center|National Institutes of He...,...,STUDY00000564,"June 1, 2020",September 2020,December 2020,"June 11, 2020",NaN,"June 11, 2020","Tufts Medical Center, Boston, Massachusetts, U...",NaN,https://ClinicalTrials.gov/show/NCT04425538

In [54]:
#the columns in this set look good, not going to remove any for now:

ct_covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4312 entries, 0 to 4311
Data columns (total 27 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Rank                     4312 non-null   int64
 1   NCT Number               4312 non-null   object
 2   Title                    4312 non-null   object
 3   Acronym                  1897 non-null   object
 4   Status                   4312 non-null   object
 5   Study Results            4312 non-null   object
 6   Conditions               4312 non-null   object
 7   Interventions            3651 non-null   object
 8   Outcome Measures         4280 non-null   object
 9   Sponsor/Collaborators    4312 non-null   object
 10  Gender                   4304 non-null   object
 11  Age                      4312 non-null   object
 12  Phases                   2446 non-null   object
 13  Enrollment               4281 non-null   float64
 14  Funded Bys               4312 non-null   object
 15  Study Type               4312 non-null   object
 16  Study Designs            4280 non-null   object
 17  Other IDs                4311 non-null   object
 18  Start Date               4281 non-null   object
 19  Primary Completion Date  4280 non-null   object
 20  Completion Date          4280 non-null   object
 21  First Posted             4312 non-null   object
 22  Results First Posted     18 non-null     object
 23  Last Update Posted       4312 non-null   object
 24  Locations                3800 non-null   object
 25  Study Documents          108 non-null    object
 26  URL                      4312 non-null   object
dtypes: float64(1), int64(1), object(25)
memory usage: 909.7+ KB

In [55]:
#checking for any duplicates:

ctcovidduplicates = ct_covid['NCT Number'].duplicated()
ctcovidduplicates.value_counts()

False    4312
Name: NCT Number, dtype: int64

In [56]:
#seeing which conditions are listed:

ct_covid.Conditions.value_counts()

COVID-19                                                     648
Covid19                                                      404
COVID                                                         98
Covid-19                                                      75
Coronavirus Infection                                         47
                                                            ...
Coronavirus Infection|Hydroxychloroquine Adverse Reaction      1
Consent                                                        1
Delivery; Trauma|Covid19                                       1
Emotionnal Distress; COVID-19                                  1
T Cell Deficiency                                              1
Name: Conditions, Length: 2235, dtype: int64

In [57]:
#lowercasing all of the fields in the covid database to help with aggregation later (except for the NCT# column):

ct_covid = ct_covid.applymap(lambda s:s.lower() if type(s) == str else s)
ct_covid['NCT Number'] = ct_covid['NCT Number'].str.upper()
ct_covid

,Rank,NCT Number,Title,Acronym,Status,Study Results,Conditions,Interventions,Outcome Measures,Sponsor/Collaborators,...,Other IDs,Start Date,Primary Completion Date,Completion Date,First Posted,Results First Posted,Last Update Posted,Locations,Study Documents,URL
0,1,NCT04372602,duvelisib to combat covid-19,NaN,recruiting,no results available,covid-19,drug: duvelisib|procedure: peripheral blood dr...,overall survival|length of hospital stay|lengt...,washington university school of medicine|veras...,...,202007009,"october 12, 2020","november 30, 2021","april 30, 2022","may 4, 2020",NaN,"november 9, 2020","washington university school of medicine, sain...",NaN,https://clinicaltrials.gov/show/nct04372602
1,2,NCT04364698,observational cohort of covid-19 patients at r...,covid-rpc,recruiting,no results available,covid-19,NaN,"clinical, biological and radiological characte...",assistance publique - hÃ´pitaux de paris,...,20sbs-covid-rpc,"may 7, 2020",june 2020,june 2020,"april 28, 2020",NaN,"may 14, 2020","department of infectiology, raymond poincarÃ© h...",NaN,https://clinicaltrials.gov/show/nct04364698
2,3,NCT04482621,decitabine for coronavirus (covid-19) pneumoni...,dart,recruiting,no results available,covid-19,drug: decitabine|other: placebo saline,change in clinical state as assessed by a 6-po...,johns hopkins university,...,irb00247544,"september 14, 2020",may 2021,july 2021,"july 22, 2020",NaN,"september 25, 2020","johns hopkins university, baltimore, maryland,...",NaN,https://clinicaltrials.gov/show/nct04482621
3,4,NCT04459637,covid-19 surveillance based on smart wearable ...,covid-19swd,not yet recruiting,no results available,covid-19,NaN,deterioration of the condition|mortality|the i...,peking university first hospital,...,2020055-0615,"july 1, 2020","march 10, 2021","march 10, 2021","july 7, 2020",NaN,"july 7, 2020","peking university first hospital, beijing, bei...",NaN,https://clinicaltrials.gov/show/nct04459637
4,5,NCT04425538,a phase 2 trial of infliximab in coronavirus d...,NaN,recruiting,no results available,covid-19,drug: infliximab,time to improvement in oxygenation|28-day mort...,tufts medical center|national institutes of he...,...,study00000564,"june 1, 2020",september 2020,december 2020,"june 11, 2020",NaN,"june 11, 2020","tufts medical center, boston, massachusetts, u...",NaN,https://clinicaltrials.gov/show/nct04425538
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4307,4308,NCT04621552,virtual simulation for woven endobridge device...,vs-web,completed,no results available,aneurysm|intracranial aneurysm,device: web embolization,median duration of the intervention|median rad...,"university hospital, montpellier|university ho...",...,rechmpl20_0601,"january 1, 2015","june 30, 2020","october 30, 2020","november 9, 2020",NaN,"november 10, 2020","uhmontpellier, montpellier, france",NaN,https://clinicaltrials.gov/show/nct04621552
4308,4309,NCT04276987,a pilot clinical study on inhalation of mesenc...,NaN,completed,no results available,coronavirus,biological: mscs-derived exosomes,adverse reaction (ae) and severe adverse react...,ruijin hospital|shanghai public health clinica...,...,mexcovid,"february 15, 2020","may 31, 2020","july 31, 2020","february 19, 2020",NaN,"september 7, 2020",ruijin hospital shanghai jiao tong university ...,NaN,https://clinicaltrials.gov/show/nct04276987
4309,4310,NCT04247620,diabetter together for young adults with type ...,diabetter,enrolling by invitation,no results available,type 1 diabetes,behavioral: diabetter together|behavioral: pee...,glycemic control (hba1c)|time to first adult c...,baylor college of medicine|national institute ...,...,h-45360|1r01dk119246,"december 15, 2020",june 2024,june 2024,"january 30, 2020",NaN,"december 23, 2020","baylor college of medicine, houston, texas, un...",NaN,https://clinicaltrials.gov/show/nct04247620
4310,4311,NCT04684602,mesenchymal stem cells for the treatment of va...,NaN,recruiting,no results available,autoimmune diseases|cardiovascular disorders|d...,biological: primeproâ„¢/ primemskâ„¢,assessment of quality of life (qol) via 36-ite...,thomas advanced medical llc|heartstem institut...,...,icss-2020-032,"july 9, 2020","july 9, 2030","december 9, 2030","december 24, 2020",NaN,"december 24, 2020",southern california hospital at culver city / ...,NaN,https://clinicaltrials.gov/show/nct04684602
4311,4312,NCT03474965,study of dose confirmation and safety of criza...,NaN,recruiting,no results available,sickle cell disease (scd),drug: crizanlizumab,pk (aucd15) after 1st dose|pd (aucd15) after 1...,novartis pharmaceuticals|novartis,...,cseg101b2201|2017-001747-12,"october 1, 2018","june 5, 2023","november 20, 2024","march 23, 2018",NaN,"december 23, 2020","university of alabama 1600 7th ave, birmingham...",NaN,https://clinicaltrials.gov/show/nct03474965

In [58]:
#converting start date and completion date to datetime and creating a study duration column for both days and months:

ct_covid[['Start Date','Completion Date']] = ct_covid[['Start Date','Completion Date']].apply(pd.to_datetime)
ct_covid['Study_Duration_days'] = (ct_covid['Completion Date'] - ct_covid['Start Date']).dt.days

ct_covid['Study_Duration_months'] = ct_covid['Completion Date'].dt.to_period('M').astype(int) - ct_covid['Start Date'].dt.to_period('M').astype(int)

In [59]:
ct_covid.head()

,Rank,NCT Number,Title,Acronym,Status,Study Results,Conditions,Interventions,Outcome Measures,Sponsor/Collaborators,...,Primary Completion Date,Completion Date,First Posted,Results First Posted,Last Update Posted,Locations,Study Documents,URL,Study_Duration_days,Study_Duration_months
0,1,NCT04372602,duvelisib to combat covid-19,NaN,recruiting,no results available,covid-19,drug: duvelisib|procedure: peripheral blood dr...,overall survival|length of hospital stay|lengt...,washington university school of medicine|veras...,...,"november 30, 2021",2022-04-30,"may 4, 2020",NaN,"november 9, 2020","washington university school of medicine, sain...",NaN,https://clinicaltrials.gov/show/nct04372602,565.0,18
1,2,NCT04364698,observational cohort of covid-19 patients at r...,covid-rpc,recruiting,no results available,covid-19,NaN,"clinical, biological and radiological characte...",assistance publique - hÃ´pitaux de paris,...,june 2020,2020-06-01,"april 28, 2020",NaN,"may 14, 2020","department of infectiology, raymond poincarÃ© h...",NaN,https://clinicaltrials.gov/show/nct04364698,25.0,1
2,3,NCT04482621,decitabine for coronavirus (covid-19) pneumoni...,dart,recruiting,no results available,covid-19,drug: decitabine|other: placebo saline,change in clinical state as assessed by a 6-po...,johns hopkins university,...,may 2021,2021-07-01,"july 22, 2020",NaN,"september 25, 2020","johns hopkins university, baltimore, maryland,...",NaN,https://clinicaltrials.gov/show/nct04482621,290.0,10
3,4,NCT04459637,covid-19 surveillance based on smart wearable ...,covid-19swd,not yet recruiting,no results available,covid-19,NaN,deterioration of the condition|mortality|the i...,peking university first hospital,...,"march 10, 2021",2021-03-10,"july 7, 2020",NaN,"july 7, 2020","peking university first hospital, beijing, bei...",NaN,https://clinicaltrials.gov/show/nct04459637,252.0,8
4,5,NCT04425538,a phase 2 trial of infliximab in coronavirus d...,NaN,recruiting,no results available,covid-19,drug: infliximab,time to improvement in oxygenation|28-day mort...,tufts medical center|national institutes of he...,...,september 2020,2020-12-01,"june 11, 2020",NaN,"june 11, 2020","tufts medical center, boston, massachusetts, u...",NaN,https://clinicaltrials.gov/show/nct04425538,183.0,6

In [60]:
ct_covid.shape

(4312, 29)

In [61]:
# export covid dataframe to csv for use elsewhere:

ct_covid.to_csv(r'C:\Users\kkosf\Documents\nss\projects\capstone\data\CT_from_python\CT_covid_from_python.csv', index=False)

In [62]:
ct_whole.shape

(360145, 33)

In [63]:
#Identifying the studies from the CT covid dataset that are in the full CT dataset and adding a column to indicate if covid study:

ct_whole = ct_whole.assign(CovidStudy=ct_whole.nct_id.isin(ct_covid['NCT Number']))

ct_whole.head()

,nct_id,study_first_submitted_date,results_first_submitted_date,last_update_submitted_date,start_date_type,start_date,completion_date_type,completion_date,results_first_posted_date,target_duration,...,number_of_facilities,registered_in_calendar_year,actual_duration,were_results_reported,months_to_report_results,sponsor_type,lead_or_collaborator,sponsor,study_duration_days,CovidStudy
0,NCT04331431,2020-03-28,None,2020-03-31,Actual,2008-04-01,Actual,2015-04-08,None,None,...,NaN,2020,85.0,False,NaN,Other,lead,Sohag University,2563.0,False
1,NCT04645472,2020-11-25,None,2020-11-25,Actual,2020-04-20,Anticipated,2021-04-30,None,None,...,1.0,2020,NaN,False,NaN,Other,lead,Zhenyu Wu,375.0,False
2,NCT04646369,2020-11-20,None,2020-11-20,Actual,2020-11-05,Anticipated,2022-04-30,None,None,...,4.0,2020,NaN,False,NaN,Other,lead,University of Pittsburgh,541.0,False
3,NCT04646356,2020-10-20,None,2020-11-20,Actual,2020-10-20,Anticipated,2022-09-30,None,None,...,1.0,2020,NaN,False,NaN,Other,lead,"St. Michael's Hospital, Toronto",710.0,False
4,NCT04646330,2020-11-23,None,2020-11-23,Anticipated,2020-11-30,Anticipated,2023-12-31,None,None,...,1.0,2020,NaN,False,NaN,Industry,lead,Akeso,1126.0,False

In [64]:
print(ct_whole.CovidStudy.value_counts())
356006 + 4139

False    356006
True       4139
Name: CovidStudy, dtype: int64

360145

In [65]:
ct_whole['why_stopped'].value_counts().head(25)

Slow accrual                                       184
Lack of funding                                    176
See termination reason in detailed description.    132
Lack of enrollment                                 120
low accrual                                        113
slow accrual                                       112
Sponsor decision                                    96
Low accrual                                         94
COVID-19                                            91
Poor accrual                                        81
Low enrollment                                      79
Slow enrollment                                     77
Slow Accrual                                        72
No participants enrolled                            71
Slow recruitment                                    69
lack of funding                                     63
Poor enrollment                                     60
Poor recruitment                                    60
Business decision                                   56
Administratively complete.                          56
PI left institution                                 55
Lack of recruitment                                 54
Lack of efficacy                                    54
Lack of accrual                                     53
No funding                                          53
Name: why_stopped, dtype: int64

In [66]:
#working on aggregating the items in the why_stopped column as it is free text, but many mean the same thing.
#first I will lowercase everything and remove any stray characters and also change nans to NA:

ct_whole['why_stopped'] = ct_whole['why_stopped'].str.lower()
ct_whole['why_stopped'] = ct_whole['why_stopped'].str.replace(r"[\"\',.]", '')
ct_whole['why_stopped'] = ct_whole['why_stopped'].fillna('NA')

ct_whole['why_stopped'].value_counts().head(25)

NA                                                334036
slow accrual                                         416
lack of funding                                      274
low accrual                                          267
lack of enrollment                                   184
sponsor decision                                     161
see termination reason in detailed description       150
low enrollment                                       142
slow enrollment                                      137
poor accrual                                         136
covid-19                                             121
no participants enrolled                             110
slow recruitment                                     105
poor enrollment                                      104
business decision                                    101
lack of recruitment                                   97
poor recruitment                                      96
lack of accrual                                       90
no funding                                            88
lack of efficacy                                      83
low recruitment                                       80
insufficient recruitment                              80
insufficient enrollment                               77
pi left institution                                   65
funding                                               62
Name: why_stopped, dtype: int64

In [76]:
#now I am putting the different responses into categories, it will not catch everything, but helps:

ct_whole['reason_stopped'] = ''
ct_whole.loc[ct_whole['why_stopped'].str.contains('NA'), 'reason_stopped'] = 'NA'
ct_whole.loc[ct_whole['why_stopped'].str.contains('fda'), 'reason_stopped'] = 'fda'
ct_whole.loc[ct_whole['why_stopped'].str.contains('safety'), 'reason_stopped'] = 'safety'
ct_whole.loc[ct_whole['why_stopped'].str.contains('irb|ethic|regulatory'), 'reason_stopped'] = 'no ethics approval'
ct_whole.loc[ct_whole['why_stopped'].str.contains('start|not initiat|never initiat'), 'reason_stopped'] = 'never started'
ct_whole.loc[ct_whole['why_stopped'].str.contains('left|leav|no longer at'), 'reason_stopped'] = 'PI left institution'
ct_whole.loc[ct_whole['why_stopped'].str.contains('pi deci|pi choice|investigator deci|investigator choice'), 'reason_stopped'] = 'investigator decision'
ct_whole.loc[ct_whole['why_stopped'].str.contains('futlity'), 'reason_stopped'] = 'futility'
ct_whole.loc[ct_whole['why_stopped'].str.contains('toxicity'), 'reason_stopped'] = 'toxicity'
ct_whole.loc[ct_whole['why_stopped'].str.contains('terminated|cancel'), 'reason_stopped'] = 'terminated/ canceled'
ct_whole.loc[ct_whole['why_stopped'].str.contains('sponsor deci|sponsor withdr|sponsor request'), 'reason_stopped'] = 'sponsor decision'
ct_whole.loc[ct_whole['why_stopped'].str.contains('business decision|business reasons|company decision|management decision|administrative reasons|corporate decision'), 'reason_stopped'] = 'business decision'
ct_whole.loc[ct_whole['why_stopped'].str.contains('accru|enrol|recruit|lack of pa|not enough pa|no pa|lack of inclu|low inclu'), 'reason_stopped'] = 'recruitment issues'
ct_whole.loc[ct_whole['why_stopped'].str.contains('fund|financial'), 'reason_stopped'] = 'funding issues'
ct_whole.loc[ct_whole['why_stopped'].str.contains('administratively complete'), 'reason_stopped'] = 'complete'
ct_whole.loc[ct_whole['why_stopped'].str.contains('covid|pandemic|corona'), 'reason_stopped'] = 'COVID-19'
ct_whole.loc[ct_whole['why_stopped'].str.contains('hcq|hydrox'), 'reason_stopped'] = 'hydroxychloroquine trial'
ct_whole.loc[ct_whole['reason_stopped'] == '','reason_stopped'] = 'other'

In [77]:
ct_whole.reason_stopped.value_counts()

NA                          334036
recruitment issues            9232
other                         8797
funding issues                2382
terminated/ canceled          1218
COVID-19                      1085
PI left institution            737
business decision              667
safety                         460
sponsor decision               419
no ethics approval             346
never started                  317
fda                            163
investigator decision          120
toxicity                        93
complete                        60
hydroxychloroquine trial        13
Name: reason_stopped, dtype: int64

In [69]:
ct_whole.target_duration.value_counts().head(10)

1 Year       739
5 Years      687
1 Day        599
2 Years      589
12 Months    500
6 Months     461
3 Years      422
10 Years     389
3 Months     291
1 Month      228
Name: target_duration, dtype: int64

In [70]:
ct_whole.target_duration = ct_whole.target_duration.str.replace('12 Months', '1 Year')
ct_whole.target_duration = ct_whole.target_duration.str.replace('52 Weeks', '1 Year')
ct_whole.target_duration = ct_whole.target_duration.str.replace('60 Months', '5 Years')
ct_whole.target_duration = ct_whole.target_duration.str.replace('30 Days', '1 Month')
ct_whole.target_duration = ct_whole.target_duration.str.replace('4 Weeks', '1 Month')
ct_whole.target_duration = ct_whole.target_duration.str.replace('60 Days', '2 Months')
ct_whole.target_duration = ct_whole.target_duration.str.replace('24 Months', '2 Years')
ct_whole.target_duration = ct_whole.target_duration.str.replace('7 Days', '1 Week')
ct_whole.target_duration = ct_whole.target_duration.str.replace('36 Months', '3 Years')
ct_whole.target_duration = ct_whole.target_duration.str.replace('14 Days', '2 Weeks')
ct_whole.target_duration = ct_whole.target_duration.str.replace('8 Weeks', '2 Months')
ct_whole.target_duration = ct_whole.target_duration.str.replace('12 Weeks', '3 Months')
ct_whole.target_duration = ct_whole.target_duration.str.replace('90 Days', '3 Months')
ct_whole.target_duration = ct_whole.target_duration.str.replace('24 Weeks', '6 Months')
ct_whole.target_duration = ct_whole.target_duration.str.replace('16 Weeks', '4 Months')

In [78]:
# export to csv for use elsewhere:

ct_whole.to_csv(r'C:\Users\kkosf\Documents\nss\projects\capstone\data\CT_from_python\CT_from_python.csv', index=False)

In [72]:
#creating a data set with all of the covid studies removed in case it is needed:

ct_no_covid = ct_whole[ct_whole['CovidStudy'] == False]
ct_no_covid.head()

,nct_id,study_first_submitted_date,results_first_submitted_date,last_update_submitted_date,start_date_type,start_date,completion_date_type,completion_date,results_first_posted_date,target_duration,...,registered_in_calendar_year,actual_duration,were_results_reported,months_to_report_results,sponsor_type,lead_or_collaborator,sponsor,study_duration_days,CovidStudy,reason_stopped
0,NCT04331431,2020-03-28,None,2020-03-31,Actual,2008-04-01,Actual,2015-04-08,None,None,...,2020,85.0,False,NaN,Other,lead,Sohag University,2563.0,False,other
1,NCT04645472,2020-11-25,None,2020-11-25,Actual,2020-04-20,Anticipated,2021-04-30,None,None,...,2020,NaN,False,NaN,Other,lead,Zhenyu Wu,375.0,False,other
2,NCT04646369,2020-11-20,None,2020-11-20,Actual,2020-11-05,Anticipated,2022-04-30,None,None,...,2020,NaN,False,NaN,Other,lead,University of Pittsburgh,541.0,False,other
3,NCT04646356,2020-10-20,None,2020-11-20,Actual,2020-10-20,Anticipated,2022-09-30,None,None,...,2020,NaN,False,NaN,Other,lead,"St. Michael's Hospital, Toronto",710.0,False,other
4,NCT04646330,2020-11-23,None,2020-11-23,Anticipated,2020-11-30,Anticipated,2023-12-31,None,None,...,2020,NaN,False,NaN,Industry,lead,Akeso,1126.0,False,other

In [73]:
#checking that no studies marked true for covidstudy remain:

ct_no_covid.CovidStudy.value_counts()

False    356006
Name: CovidStudy, dtype: int64

In [74]:
#saving the dataset with the covid studies removed to csv to use elsewhere:

ct_no_covid.to_csv(r'C:\Users\kkosf\Documents\nss\projects\capstone\data\CT_from_python\ct_no_covid_from_python.csv', index=False)
ct_no_covid.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 356006 entries, 0 to 360144
Data columns (total 35 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   nct_id                        356006 non-null  object
 1   study_first_submitted_date    356006 non-null  object
 2   results_first_submitted_date  46326 non-null   object
 3   last_update_submitted_date    356006 non-null  object
 4   start_date_type               162201 non-null  object
 5   start_date                    351142 non-null  datetime64[ns]
 6   completion_date_type          331593 non-null  object
 7   completion_date               338433 non-null  datetime64[ns]
 8   results_first_posted_date     46326 non-null   object
 9   target_duration               6697 non-null    object
 10  study_type                    356006 non-null  object
 11  brief_title                   356006 non-null  object
 12  official_title                345895 non-null  object
 13  overall_status                356006 non-null  object
 14  phase                         279172 non-null  object
 15  enrollment                    349310 non-null  float64
 16  enrollment_type               339170 non-null  object
 17  source                        356006 non-null  object
 18  limitations_and_caveats       356006 non-null  object
 19  why_stopped                   356006 non-null  object
 20  has_expanded_access           349970 non-null  object
 21  is_fda_regulated_drug         132509 non-null  object
 22  is_fda_regulated_device       132506 non-null  object
 23  start_year                    356006 non-null  object
 24  number_of_facilities          314589 non-null  float64
 25  registered_in_calendar_year   356006 non-null  int64
 26  actual_duration               210571 non-null  float64
 27  were_results_reported         356006 non-null  bool
 28  months_to_report_results      46248 non-null   float64
 29  sponsor_type                  355156 non-null  object
 30  lead_or_collaborator          356006 non-null  object
 31  sponsor                       356006 non-null  object
 32  study_duration_days           337463 non-null  float64
 33  CovidStudy                    356006 non-null  bool
 34  reason_stopped                356006 non-null  object
dtypes: bool(2), datetime64[ns](2), float64(5), int64(1), object(25)
memory usage: 93.0+ MB

In [75]:
#saving the other datasets to csv to use elsewhere:

interventions.to_csv(r'C:\Users\kkosf\Documents\nss\projects\capstone\data\CT_from_python\ct_interventions_from_python.csv', index=False)
conditions.to_csv(r'C:\Users\kkosf\Documents\nss\projects\capstone\data\CT_from_python\ct_conditions_from_python.csv', index=False)
countries.to_csv(r'C:\Users\kkosf\Documents\nss\projects\capstone\data\CT_from_python\ct_countries_from_python.csv', index=False)
sponsors.to_csv(r'C:\Users\kkosf\Documents\nss\projects\capstone\data\CT_from_python\ct_sponsors_from_python.csv', index=False)